Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

cleanup after rebase
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/BaseSparkInternalRowReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/FileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/HoodieFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/KeyBasedFileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/PositionBasedFileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/UnmergedFileGroupRecordBuffer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/TestFileGroupRecordBuffer.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/TestPositionBasedFileGroupRecordBuffer.java
Due: hudicommon

undo empty record handling
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/BaseSparkInternalRowReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/common/engine/HoodieReaderContext.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/FlinkRowDataReaderContext.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HiveHoodieReaderContext.java
Due: hudicommon, hudihadoopmr

fix empty
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/BaseSparkInternalRowReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroReaderContext.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HiveHoodieReaderContext.java
Due: hudicommon, hudihadoopmr

fix conflicts
  hudi-common/src/main/java/org/apache/hudi/common/table/read/FileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/HoodieFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/PositionBasedFileGroupRecordBuffer.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/TestPositionBasedFileGroupRecordBuffer.java
Due: hudicommon

Address comments
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/bootstrap/index/hfile/HFileBootstrapIndexWriter.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/util/HFileUtils.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieAvroHFileWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileContext.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileReaderImpl.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/test/java/org/apache/hudi/io/hfile/TestHFileWriter.java
Due: none

Fix bloom filter code
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieNativeAvroHFileReader.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/io/hadoop/TestHoodieHBaseHFileReaderWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/MetaIndexBlock.java
Due: hudicommon

Support bootstrap index
  hudi-common/src/main/java/org/apache/hudi/common/bootstrap/index/hfile/HFileBootstrapIndex.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/bootstrap/index/hfile/HFileBootstrapIndexWriter.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieAvroHFileWriter.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieHFileUtils.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
Due: hudicommon

Refactor more.
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/util/TestHFileUtils.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/ChecksumType.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlockWriteAttributes.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileDataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileFileInfoBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileIndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileMetaBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileMetaIndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/KeyValueEntry.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/Block.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/DataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/FileInfoBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/IndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/IndexEntry.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/KeyValueEntry.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/MetaIndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/RootIndexBlock.java
Due: none

Import the initial write classes for HFile.
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieAvroHFileWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlockType.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/Block.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/ChecksumType.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/DataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/FileInfoBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/IndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/IndexEntry.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/KeyValueEntry.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/MetaBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/RootIndexBlock.java
  hudi-io/src/test/java/org/apache/hudi/io/hfile/TestHFileWriter.java
Due: none

Address some comments
  hudi-common/src/main/java/org/apache/hudi/common/bootstrap/index/hfile/HFileBootstrapIndex.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/util/HFileUtils.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/KeyValueEntry.java
Due: hudicommon

rebase
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileLeafIndexBlock.java
Due: none

Fix a bug introduced.
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileDataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
Due: none

Performance improvement:
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileDataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
Due: none

Add test for same key location
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileDataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/test/java/org/apache/hudi/io/hfile/TestHFileWriter.java
Due: none

Add metablock
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/DataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/IndexBlock.java
  hudi-io/src/test/java/org/apache/hudi/io/hfile/TestHFileWriter.java
Due: none

Enable HFileWriter to Hudi
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieAvroFileWriterFactory.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieAvroHFileWriter.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieHFileConfig.java
  hudi-io/src/main/java/org/apache/hudi/io/compress/CompressionCodec.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileContext.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileReaderImpl.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/test/java/org/apache/hudi/io/hfile/TestHFileWriter.java
Due: none

refacotr
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlockReadAttributes.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlockWriteAttributes.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileDataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileFileInfoBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileIndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileMetaBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileMetaIndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileRootIndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/IndexEntry.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/KeyValueEntry.java
Due: none

Address CI failures
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/util/HFileUtils.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieAvroHFileWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileContext.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/Block.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/DataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/FileInfoBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/KeyValueEntry.java
Due: none

Add support:
  hudi-io/src/main/java/org/apache/hudi/io/compress/HoodieDecompressor.java
  hudi-io/src/main/java/org/apache/hudi/io/compress/airlift/HoodieAirliftGzipDecompressor.java
  hudi-io/src/main/java/org/apache/hudi/io/compress/builtin/HoodieNoneDecompressor.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileBlockWriteAttributes.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileDataBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileFileInfoBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileIndexBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileMetaBlock.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileWriterImpl.java
  hudi-io/src/test/java/org/apache/hudi/io/compress/TestHoodieDecompressor.java
Due: none

Address comments
  hudi-common/src/main/java/org/apache/hudi/common/bootstrap/index/hfile/HFileBootstrapIndexWriter.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/MetaBlock.java
Due: hudicommon

Address some comments
  hudi-common/src/main/java/org/apache/hudi/common/bootstrap/index/hfile/HFileBootstrapIndexWriter.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieNativeAvroHFileReader.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieAvroFileWriterFactory.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieAvroHFileWriter.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieHFileConfig.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieHFileUtils.java
  hudi-io/src/main/java/org/apache/hudi/io/compress/CompressionCodec.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/HFileContext.java
  hudi-io/src/main/java/org/apache/hudi/io/hfile/writer/MetaBlock.java
Due: hudicommon

[HUDI-9444] WIP
  hudi-common/src/main/java/org/apache/hudi/common/table/log/AbstractHoodieLogRecordScanner.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/BaseHoodieLogRecordReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/FullLookUpKeyCollection.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordScanner.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/LookUpKeyCollection.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/PrefixLookUpKeyCollection.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/block/HoodieDataBlock.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/block/HoodieHFileDataBlock.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/FileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/HoodieFileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/KeyBasedFileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/PositionBasedFileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/UnmergedFileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieAvroHFileReaderImplBase.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieNativeAvroHFileReader.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieSeekingFileReader.java
  hudi-common/src/main/java/org/apache/hudi/metadata/BaseTableMetadata.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataLogRecordReader.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadata.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieHBaseAvroHFileReader.java
Due: hudicommon

cleanup
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieTableServiceClient.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieWriteClient.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/ClusteringPlanActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/compact/ScheduleCompactionActionExecutor.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/client/TestBaseHoodieTableServiceClient.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/table/action/clean/TestCleanPlanActionExecutor.java
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/client/TestJavaHoodieBackedMetadata.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieCleanerTestBase.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/action/rollback/TestMergeOnReadRollbackActionExecutor.java
Due: none

Address more comments
  hudi-common/src/main/java/org/apache/hudi/common/bootstrap/index/hfile/HFileBootstrapIndex.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/util/HFileUtils.java
  hudi-io/src/main/java/org/apache/hudi/io/compress/CompressionCodec.java
Due: hudicommon

fix tests
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieTableServiceClient.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/TestCleaner.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/CleanFunction.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/client/functional/TestHoodieBackedMetadata.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSevenToEightUpgrade.scala
Due: none

Plugin FG reader into MDT
  hudi-common/src/main/java/org/apache/hudi/common/config/HoodieMetadataConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/expression/Predicates.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/util/HFileUtils.java
Due: hudicommon

cleanup
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/BaseTableServicePlanActionExecutor.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/client/TestBaseHoodieTableServiceClient.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/compact/CompactionTestBase.java
Due: none

Add basic predicates
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/MultipleSparkJobExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/HoodieSparkFileGroupReaderBasedMergeHandle.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/HoodieFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/reader/HoodieFileGroupReaderTestUtils.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/HoodieFileGroupReaderBasedParquetFileFormat.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/PartitionBucketIndexManager.scala
Due: hudicommon

Fix a bug
  hudi-common/src/main/java/org/apache/hudi/common/table/read/HoodieFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
Due: hudicommon

Fix a bug in iterator
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
Due: hudicommon

Fix one more bug
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroReaderContext.java
Due: hudicommon

push predicate to hfile reader
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/common/table/read/TestHoodieFileGroupReaderOnJava.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/MultipleSparkJobExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/HoodieSparkFileGroupReaderBasedMergeHandle.java
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/BaseSparkInternalRowReaderContext.java
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/SparkFileFormatInternalRowReaderContext.scala
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/common/engine/HoodieReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordReader.java
  hudi-common/src/main/java/org/apache/hudi/expression/Predicates.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieAvroHFileReaderImplBase.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieNativeAvroHFileReader.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
  hudi-common/src/test/java/org/apache/hudi/avro/TestHoodieAvroReaderContext.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/TestFileGroupRecordBuffer.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/reader/HoodieFileGroupReaderTestUtils.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/FlinkRowDataReaderContext.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/util/HFileUtils.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieHBaseAvroHFileReader.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/read/TestCustomMerger.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/read/TestEventTimeMerging.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/read/TestHoodieFileGroupReaderInflightCommit.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/read/TestOverwriteWithLatestMerger.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HiveHoodieReaderContext.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/HoodieFileGroupReaderBasedParquetFileFormat.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/PartitionBucketIndexManager.scala
Due: hudicommon, hudihadoopmr

Address more comments
  hudi-common/src/main/java/org/apache/hudi/common/config/HoodieMetadataConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/engine/HoodieReaderContext.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/HoodieFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieAvroHFileReaderImplBase.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieNativeAvroHFileReader.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
  hudi-common/src/test/java/org/apache/hudi/expression/TestPredicates.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/util/HFileUtils.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/hadoop/HoodieHBaseAvroHFileReader.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/HoodieFileGroupReaderBasedParquetFileFormat.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/PartitionBucketIndexManager.scala
Due: hudicommon

Add tests
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordReader.java
  hudi-common/src/test/java/org/apache/hudi/common/table/log/TestHoodieMergedLogRecordReader.java
Due: hudicommon

cleanup test usage where possible
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieWriteClient.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/HoodieFlinkClusteringJob.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/cluster/ITTestHoodieFlinkClustering.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/client/functional/TestHoodieBackedMetadata.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestDataSkippingWithMORColstats.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/action/compact/TestHoodieCompactor.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableRollback.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/ddl/TestAlterTableDropPartition.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/dml/TestInsertTable.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/dml/TestUpdateTable.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestClusteringProcedure.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestShowFileStatusProcedure.scala
Due: none

cleanup usage of deprecated methods in tests
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/compact/CompactionTestBase.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/client/TestTableSchemaEvolution.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/TestHoodieMergeOnReadTable.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/action/compact/TestAsyncCompaction.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/action/compact/TestHoodieCompactor.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableIncrementalRead.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableRollback.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestClusteringProcedure.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestShowFileStatusProcedure.scala
Due: none

Adding write config to support streaming writes to metadata table
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/config/TestHoodieWriteConfig.java
Due: none

Addressing feedback
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/config/TestHoodieWriteConfig.java
Due: none

Adding write config to support streaming writes to metadata table
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
Due: none

Enabling Non Blocking Concurrency Control with Metadata table when streaming writes are enabled
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataWriteUtils.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/UpgradeDowngrade.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/metadata/TestHoodieMetadataWriteUtils.java
Due: none
