Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

feat: provider-aware model selection, standard secret convention, and optional vllm chart
  hudi-ai-gateway/README.md
  hudi-ai-gateway/src/hudi_ai_gateway/agent.py
  hudi-ai-gateway/src/hudi_ai_gateway/api/chat.py
  hudi-ai-gateway/src/hudi_ai_gateway/api/meta.py
  hudi-ai-gateway/src/hudi_ai_gateway/api/models.py
  hudi-ai-gateway/src/hudi_ai_gateway/app.py
  hudi-ai-gateway/src/hudi_ai_gateway/llm.py
  hudi-ai-gateway/src/hudi_ai_gateway/ui/app.js
  hudi-ai-gateway/src/hudi_ai_gateway/ui/index.html
  hudi-ai-gateway/src/hudi_ai_gateway/ui/style.css
  hudi-ai-gateway/tests/conftest.py
  hudi-ai-gateway/tests/test_agent_loop.py
  hudi-ai-gateway/tests/test_chat_sse.py
  hudi-ai-gateway/tests/test_llm.py
  hudi-k8s-lakehouse/README.md
  hudi-k8s-lakehouse/charts/hudi-ai-gateway/templates/deployment.yaml
  hudi-k8s-lakehouse/charts/hudi-ai-gateway/values.yaml
  hudi-k8s-lakehouse/charts/vllm/Chart.yaml
  hudi-k8s-lakehouse/charts/vllm/templates/NOTES.txt
  hudi-k8s-lakehouse/charts/vllm/templates/_helpers.tpl
  hudi-k8s-lakehouse/charts/vllm/templates/deployment.yaml
  hudi-k8s-lakehouse/charts/vllm/templates/pvc.yaml
  hudi-k8s-lakehouse/charts/vllm/templates/service.yaml
  hudi-k8s-lakehouse/charts/vllm/values.yaml
  hudi-k8s-lakehouse/local-dev/README.md
  hudi-k8s-lakehouse/local-dev/scripts/up.sh
Due: none

feat: add Trino web UI to connect panel, raise default SQL timeout to 120s
  hudi-agent-gateway/src/hudi_agent_gateway/api/meta.py
  hudi-agent-gateway/src/hudi_agent_gateway/api/models.py
  hudi-agent-gateway/src/hudi_agent_gateway/config.py
  hudi-agent-gateway/src/hudi_agent_gateway/tools/trino_tools.py
  hudi-agent-gateway/src/hudi_agent_gateway/ui/app.js
  hudi-agent-gateway/src/hudi_agent_gateway/ui/index.html
  hudi-agent-gateway/tests/test_api_meta.py
  hudi-agent-gateway/tests/test_trino_tools.py
  hudi-lakehouse/charts/hudi-agent-gateway/values.yaml
Due: none

fix: make UI example prompts catalog-agnostic
  hudi-agent-gateway/src/hudi_agent_gateway/ui/index.html
Due: none

fix: repair streamed adaptive-thinking blocks in the agent loop
  hudi-agent-gateway/src/hudi_agent_gateway/agent.py
  hudi-agent-gateway/tests/test_agent_loop.py
Due: none

feat: add one-command idempotent quickstart for hudi-k8s-lakehouse
  hudi-k8s-lakehouse/.gitignore
  hudi-k8s-lakehouse/README.md
  hudi-k8s-lakehouse/local-dev/scripts/up.sh
  hudi-k8s-lakehouse/scripts/quickstart.sh
Due: none

fix: rename 'New chat' to 'Clear chat' in the gateway UI
  hudi-agent-gateway/src/hudi_agent_gateway/ui/app.js
  hudi-agent-gateway/src/hudi_agent_gateway/ui/index.html
  hudi-agent-gateway/src/hudi_agent_gateway/ui/style.css
Due: none

fix: address second-round review feedback on gateway robustness and quickstart
  hudi-agent-gateway/README.md
  hudi-agent-gateway/src/hudi_agent_gateway/api/chat.py
  hudi-agent-gateway/src/hudi_agent_gateway/llm.py
  hudi-agent-gateway/src/hudi_agent_gateway/tools/registry.py
  hudi-agent-gateway/src/hudi_agent_gateway/tools/trino_client.py
  hudi-agent-gateway/src/hudi_agent_gateway/tools/trino_tools.py
  hudi-agent-gateway/src/hudi_agent_gateway/ui/hudi-logo.png
  hudi-agent-gateway/src/hudi_agent_gateway/ui/index.html
  hudi-agent-gateway/tests/test_guardrails.py
  hudi-agent-gateway/tests/test_registry.py
  hudi-agent-gateway/tests/test_trino_tools.py
  hudi-agent-gateway/tests/test_ui.py
  hudi-lakehouse/README.md
  hudi-lakehouse/charts/hudi-agent-gateway/templates/deployment.yaml
  hudi-lakehouse/scripts/build-images.sh
  hudi-lakehouse/scripts/build-jars.sh
  hudi-lakehouse/scripts/quickstart.sh
  scripts/release/validate_source_copyright.sh
Due: none

fix(flink): align native log format with base file format
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/TenToNineDowngradeHandler.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/table/upgrade/TestTenToNineDowngradeHandler.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/HoodieLsmFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileGroupRecordIterator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestStreamerUtil.java
Due: hudicommon

feat(flink): enable LSM end-to-end for Flink by default
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/FlinkWriteHandleFactory.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/TestFlinkWriteHandleFactory.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/FileGroupReaderSchemaHandler.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/buffer/FileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileGroupRecordIterator.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/TestFileGroupReaderSchemaHandler.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/BaseTestFileGroupRecordBuffer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/TestFileGroupRecordBufferLoader.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/TestKeyBasedFileGroupRecordBuffer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/TestReusableKeyBasedRecordBuffer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/TestSortedKeyBasedFileGroupRecordBuffer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/TestStreamingKeyBasedFileGroupRecordBuffer.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/OptionsResolver.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/BootstrapOperator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/ClusteringOperator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/source/reader/function/HoodieCdcSplitReaderFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/source/reader/function/HoodieSplitReaderFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/FormatUtils.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/cdc/CdcInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/configuration/TestOptionsResolver.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/TestWriteCopyOnWrite.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/TestWriteMergeOnReadWithCompact.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/compact/ITTestHoodieFlinkCompactor.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/source/reader/function/TestHoodieSplitReaderFunction.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/format/TestFormatUtils.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/format/TestInputFormat.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestData.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestFlinkWriteClients.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestStreamerUtil.java
Due: hudicommon

fix comments
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/TenToNineDowngradeHandler.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/table/upgrade/TestTenToNineDowngradeHandler.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableFactory.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/TestHoodieTableFactory.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestStreamerUtil.java
Due: hudicommon

fix comments
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/cdc/HoodieNativeCDCLogger.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/format/FlinkRecordContext.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/table/format/TestFlinkRecordContext.java
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/BaseSparkInternalRecordContext.java
  hudi-common/src/main/java/org/apache/hudi/common/avro/AvroRecordContext.java
  hudi-common/src/main/java/org/apache/hudi/common/engine/RecordContext.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/BufferedRecord.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/FileGroupReaderSchemaHandler.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/HoodieFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/buffer/FileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/buffer/UnmergedFileGroupRecordBuffer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/HoodieLsmFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileGroupReaderUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileGroupRecordIterator.java
  hudi-common/src/test/java/org/apache/hudi/common/engine/TestHoodieReaderContext.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/SchemaHandlerTestBase.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/TestFileGroupReaderSchemaHandler.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/TestUpdateProcessor.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/TestReusableKeyBasedRecordBuffer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/TestSortedKeyBasedFileGroupRecordBuffer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/lsm/TestLsmFileGroupReaderUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/lsm/TestLsmFileGroupRecordIterator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableFactory.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/TestHoodieTableFactory.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestStreamerUtil.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HiveRecordContext.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestBufferedRecordMerger.java
Due: hudicommon, hudihadoopmr

opt sort perf for flink writer
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bulk/RowDataKeyGen.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/utils/RecordKeySortComparator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/utils/RecordKeySortKeyComputer.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/bulk/TestRowDataKeyGens.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/TestRecordKeySortKeyComputer.java
Due: none

fix lsm order
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/utils/BufferUtils.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
Due: none

fix lsm property preseve after renaming
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/catalog/TestHoodieHiveCatalog.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/TestHoodieTableMetaClient.java
Due: hudicommon

fix instant filter on base file
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileIterators.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/lsm/TestLsmFileIterators.java
Due: hudicommon

fix lsm order
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/utils/RecordKeySortComparator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/utils/RecordKeySortKeyComputer.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
Due: none

fix comments
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileGroupRecordIterator.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileIterators.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/lsm/TestLsmFileGroupRecordIterator.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/lsm/TestLsmFileIterators.java
Due: hudicommon

fix comments
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/format/FlinkRecordContext.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/HoodieLsmFileGroupReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileGroupRecordIterator.java
  hudi-common/src/main/java/org/apache/hudi/common/table/read/lsm/LsmFileIterators.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/lsm/TestLsmFileIterators.java
Due: hudicommon

fix comments
  hudi-common/src/main/java/org/apache/hudi/keygen/KeyGenerator.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/lsm/TestLsmFileGroupRecordIterator.java
  hudi-common/src/test/java/org/apache/hudi/keygen/TestKeyGenerator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bulk/RowDataKeyGen.java
Due: hudicommon

fix: Handle map/array nested leaves in Avro column-stats value navigation
  hudi-common/src/main/java/org/apache/hudi/common/avro/AvroRecordContext.java
  hudi-common/src/test/java/org/apache/hudi/common/avro/TestAvroRecordContext.java
Due: hudicommon

Rename test constant COMPLEX_SCHEMA to MAP_AND_ARRAY_SCHEMA for clarity
  hudi-common/src/test/java/org/apache/hudi/common/avro/TestAvroRecordContext.java
Due: none

Move the schema constants to the top of TestAvroRecordContext
  hudi-common/src/test/java/org/apache/hudi/common/avro/TestAvroRecordContext.java
Due: none

fix test
  hudi-common/src/test/java/org/apache/hudi/common/table/read/buffer/TestPositionBasedFileGroupRecordBuffer.java
Due: none

test(metadata): add Scala test for upsert after skipping zero-size file on MDT initialize
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestRecordLevelIndex.scala
Due: none

fix(metadata-table): address review follow-ups for the zero-size file skip
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
  hudi-common/src/main/java/org/apache/hudi/common/config/HoodieMetadataConfig.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataMetrics.java
  hudi-common/src/main/java/org/apache/hudi/metadata/model/DirectoryInfo.java
Due: hudicommon

feat(ingest): add EmbeddingTransformer populating a VECTOR column from an embeddings API
  hudi-utilities/src/main/java/org/apache/hudi/utilities/config/EmbeddingTransformerConfig.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/transform/embedding/EmbeddingProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/transform/embedding/EmbeddingTransformer.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/transform/embedding/OpenAICompatibleEmbeddingProvider.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/streamer/TestUnstructuredIngestE2E.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/transform/embedding/TestEmbeddingTransformer.java
Due: hudiutilities

fix(ingest): stream unstructured rows lazily via LazyIterableIterator
  hudi-utilities/src/main/java/org/apache/hudi/utilities/config/EmbeddingTransformerConfig.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/UnstructuredFileDFSSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/transform/embedding/EmbeddingTransformer.java
Due: hudiutilities

fix: use the spark adapter's row encoder for cross-version compatibility
  hudi-utilities/src/main/java/org/apache/hudi/utilities/transform/embedding/EmbeddingTransformer.java
Due: hudiutilities

feat(ingest): add UnstructuredFileDFSSource for landing unstructured files as BLOB tables
  hudi-utilities/pom.xml
  hudi-utilities/src/main/java/org/apache/hudi/utilities/config/UnstructuredFileSourceConfig.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/UnstructuredFileDFSSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/unstructured/DocumentParser.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/unstructured/ParseResult.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/unstructured/TextChunker.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/unstructured/TikaDocumentParser.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/unstructured/UnstructuredFileRecordBuilder.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestUnstructuredFileDFSSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/helpers/unstructured/TestTextChunker.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/helpers/unstructured/TestTikaDocumentParser.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/streamer/TestUnstructuredIngestE2E.java
  packaging/hudi-utilities-bundle/pom.xml
  packaging/hudi-utilities-slim-bundle/pom.xml
  pom.xml
Due: hudiutilities

docs(docker): clarify multi-arch prerequisites
  docker/README.md
Due: none

docs(docker): document build_docker_images.sh flags
  docker/README.md
Due: none

docs(docker): mention setup_demo.sh compose override
  docker/README.md
Due: none

docs(docker): align demo example with setup_demo.sh
  docker/README.md
Due: none

docs(docker): address review findings on demo build notes
  docker/README.md
Due: none

[HUDI-9624] Warn when event-time field is set without watermark tracking
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/config/TestHoodieWriteConfig.java
Due: none

test(flink): improve row conversion coverage
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/model/TestHoodieFlinkInternalRowSerializer.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/model/TestHoodieFlinkRecord.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/storage/row/parquet/TestParquetRowDataWriter.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/storage/row/parquet/TestParquetSchemaConverter.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/util/TestRowDataAvroRoundTrip.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/util/TestRowDataUtils.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/util/TestVectorConversionUtils.java
Due: none

fix(flink): address row conversion review feedback
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/client/model/HoodieFlinkRecord.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/util/AvroToRowDataConverters.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/model/TestHoodieFlinkRecord.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/storage/row/parquet/TestParquetRowDataWriter.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/storage/row/parquet/TestParquetSchemaConverter.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/util/TestRowDataAvroRoundTrip.java
Due: none

fix: address Flink write coverage review feedback
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/TestFlinkWriteClient.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/TestFlinkWriteClientFunctional.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/TestHoodieFlinkTableServiceClient.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/TestFlinkWriteHandleFactory.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/table/TestHoodieFlinkTableActionRouting.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/JavaDeleteHelper.java
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/table/action/commit/TestJavaDeleteHelper.java
Due: none

fix(flink): deduplicate delete keys and cover write paths
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/FlinkDeleteHelper.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/TestFlinkWriteClient.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/TestFlinkWriteClientFunctional.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/client/TestHoodieFlinkTableServiceClient.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/TestFlinkWriteHandleFactory.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/table/TestHoodieFlinkTableActionRouting.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/table/action/commit/TestFlinkDeleteHelper.java
Due: none

test(hudi-client): improve metadata table writer coverage
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/metadata/TestHoodieBackedTableMetadataWriter.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/metadata/TestHoodieBackedTableMetadataWriterTableVersionSix.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/metadata/TestHoodieMetadataWriteUtils.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/metadata/TestSecondaryIndexRecordGenerationUtils.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/metadata/TestSparkHoodieBackedTableMetadataWriter.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestMetadataTableWithSparkSQL.scala
Due: none
