Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

[HUDI-5102] source operator(monitor and reader) support user uid (#7085)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/utils/Pipelines.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSource.java
Due: none

[HUDI-4281] Using hudi to build a large number of tables in spark on hive causes OOM (#5903)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hive/HiveClientUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/command/CreateHoodieTableCommand.scala
Due: none

[HUDI-5038] Increase default num_instants to fetch for incremental source (#6955)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/HoodieIncrSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
Due: hudiutilities

[HUDI-4716] Avoid parquet-hadoop-bundle in hudi-hadoop-mr (#6930)
  packaging/hudi-hadoop-mr-bundle/pom.xml
  pom.xml
Due: none

[HUDI-4959] Fixing Avro's `Utf8` serialization in Kryo (#7024)
  hudi-common/src/main/java/org/apache/hudi/common/util/SerializationUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestSerializationUtils.java
Due: hudicommon

[HUDI-4741] hotfix to avoid partial failover cause restored subtask timeout (#6796)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteOperatorCoordinator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/meta/CkpMetadata.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/TestStreamWriteOperatorCoordinator.java
Due: none

[MINOR] Fix OverwriteWithLatestAvroPayload full class name (#7096)
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/AbstractRealtimeRecordReader.java
Due: hudihadoopmr

[MINOR] use default maven version since it already fix the warnings recently (#6863)
  azure-pipelines.yml
Due: none

Revert "[HUDI-4741] hotfix to avoid partial failover cause restored subtask timeout (#6796)" (#7090)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteOperatorCoordinator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/meta/CkpMetadata.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/TestStreamWriteOperatorCoordinator.java
Due: none

[HUDI-4982] Add Utilities and Utilities Slim + Spark Bundle testing to GH Actions (#7005)
  .github/workflows/bot.yml
  packaging/bundle-validation/Dockerfile
  packaging/bundle-validation/Dockerfile-base
  packaging/bundle-validation/ci_run.sh
  packaging/bundle-validation/conf/hive-site.xml
  packaging/bundle-validation/conf/hudi-defaults.conf
  packaging/bundle-validation/conf/spark-defaults.conf
  packaging/bundle-validation/spark-write-hive-sync/validate.sh
  packaging/bundle-validation/spark/validate.scala
  packaging/bundle-validation/utilities/hoodieapp.properties
  packaging/bundle-validation/utilities/validate.scala
  packaging/bundle-validation/validate.sh
Due: none

[HUDI-5083]Fixed a bug when schema evolution (#7045)
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestSpark3DDL.scala
Due: hudicommon

[MINOR] Fix doc of org.apache.hudi.sink.meta.CkpMetadata#bootstrap (#7048)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/meta/CkpMetadata.java
Due: none

[HUDI-5085]When a flink job has multiple sink tables, the index loading status is abnormal (#7051)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/BootstrapOperator.java
Due: none

[HUDI-5081] Tests clean up in hudi-utilities (#7033)
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestHoodieIndexer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deser/TestKafkaAvroSchemaDeserializer.java
Due: none

[HUDI-5088]Fix bug:Failed to synchronize the hive metadata of the Flink table (#7056)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HiveSchemaUtils.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HoodieHiveCatalog.java
Due: none

[HUDI-4624] Implement Closable for S3EventsSource (#7086)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/S3EventsSource.java
Due: hudiutilities

[HUDI-5132] Add hadoop-mr bundle validation (#7157)
  packaging/bundle-validation/ci_run.sh
  packaging/bundle-validation/spark_hadoop_mr/write.scala
  packaging/bundle-validation/validate.sh
Due: none

[HUDI-5147] Flink data skipping doesn't work when HepPlanner calls copy()… (#7113)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/source/FileIndex.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSource.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/TestHoodieTableSource.java
Due: none

[HUDI-5045] Adding support to configure index type with integ tests (#6982)
  docker/demo/config/test-suite/spark-immutable-to-mutable.yaml
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/HoodieTestSuiteJob.java
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/HoodieTestSuiteWriter.java
  hudi-integ-test/src/main/scala/org/apache/hudi/integ/testsuite/dag/nodes/SparkInsertNode.scala
Due: hudiintegtest

[HUDI-5126] Delete duplicate configuration items PAYLOAD_CLASS_NAME (#7103)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
Due: none

[HUDI-5066] Support flink hoodie source metaclient cache (#7017)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSource.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/TestHoodieTableSource.java
Due: none

[HUDI-4989] Fixing deltastreamer init failures (#6862)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/DeltaSync.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
Due: hudiutilities

[HUDI-4880] Fix corrupted parquet file issue left over by cancelled compaction task (#6733)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/ClusteringOperator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/compact/CompactFunction.java
Due: none

[MINOR] Fixing broken test (#7123)
  hudi-sync/hudi-sync-common/src/main/java/org/apache/hudi/sync/common/util/SyncUtilHelpers.java
Due: none

[HUDI-5065] Call close on SparkRDDWriteClient in HoodieCleaner (#7101)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java
Due: none

[MINOR] Fix flaky test in ITTestHoodieDataSource (#7134)
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
Due: none

[HUDI-2673] Add kafka connect bundle to validation test (#7131)
  hudi-kafka-connect/demo/setupKafka.sh
  packaging/bundle-validation/Dockerfile-base
  packaging/bundle-validation/ci_run.sh
  packaging/bundle-validation/kafka/config-sink.json
  packaging/bundle-validation/kafka/consume.sh
  packaging/bundle-validation/kafka/produce.sh
  packaging/bundle-validation/validate.sh
Due: none

[HUDI-5076] Fixing non serializable path used in engineContext with metadata table intialization (#7036)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
Due: none

[HUDI-5111] Improve integration test coverage (#7092)
  docker/demo/config/test-suite/deltastreamer-immutable-dataset.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions-hive.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions-metadata.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions.yaml
  docker/demo/config/test-suite/deltastreamer-medium-clustering.yaml
  docker/demo/config/test-suite/deltastreamer-medium-full-dataset-validation.yaml
  docker/demo/config/test-suite/deltastreamer-non-partitioned.yaml
  docker/demo/config/test-suite/detlastreamer-long-running-example.yaml
  docker/demo/config/test-suite/simple-clustering.yaml
  docker/demo/config/test-suite/simple-deltastreamer.yaml
  docker/demo/config/test-suite/spark-immutable-dataset.yaml
  docker/demo/config/test-suite/spark-long-running-non-partitioned.yaml
  docker/demo/config/test-suite/spark-long-running.yaml
  docker/demo/config/test-suite/spark-medium-clustering.yaml
  docker/demo/config/test-suite/spark-simple.yaml
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/HoodieTestSuiteJob.java
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/dag/nodes/PrestoQueryNode.java
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/dag/nodes/ValidateDatasetNode.java
  hudi-integ-test/src/main/scala/org/apache/hudi/integ/testsuite/dag/nodes/SparkInsertNode.scala
Due: hudiintegtest

[HUDI-5185] Fix CLI run compaction failing with --hoodieConfigs (#7168)
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/CompactionCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/SparkMain.java
  hudi-cli/src/test/java/org/apache/hudi/cli/integ/ITTestCompactionCommand.java
Due: hudicli

[HUDI-4526] Improve spillableMapBasePath when disk directory is full (#6284)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieMemoryConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordScanner.java
  hudi-common/src/main/java/org/apache/hudi/common/util/FileIOUtils.java
Due: hudicommon

[HUDI-5176] Fix incremental source to consider inflight commits before completed commits (#7160)
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/TimelineUtils.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/HoodieIncrSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/S3EventsHoodieIncrSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/IncrSourceHelper.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestHoodieIncrSource.java
Due: hudicommon, hudiutilities

[HUDI-5025] Rollback failed with log file not found when rollOver in rollback process (#6939)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/rollback/BaseRollbackHelper.java
Due: none

[MINOR] Performance improvement of flink ITs with reused miniCluster (#7151)
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/ITTestDataStreamWrite.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/cluster/ITTestHoodieFlinkClustering.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/compact/ITTestHoodieFlinkCompactor.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/FlinkMiniCluster.java
Due: none

[HUDI-5227] Bump Javalin to 4.6.7 and Jetty to 9.4.48 (#7211)
  hudi-timeline-service/pom.xml
  hudi-timeline-service/src/main/java/org/apache/hudi/timeline/service/TimelineService.java
  packaging/hudi-timeline-server-bundle/pom.xml
  pom.xml
Due: huditimelineservice

[MINOR] Balance CI jobs (#6838)
  azure-pipelines.yml
Due: none

[HUDI-5206] RowColumnReader should not return null value for certain null child columns (#7194)
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestSQL.java
  hudi-flink-datasource/hudi-flink1.13.x/src/main/java/org/apache/hudi/table/format/cow/vector/HeapRowColumnVector.java
  hudi-flink-datasource/hudi-flink1.13.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/RowColumnReader.java
  hudi-flink-datasource/hudi-flink1.14.x/src/main/java/org/apache/hudi/table/format/cow/vector/HeapRowColumnVector.java
  hudi-flink-datasource/hudi-flink1.14.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/RowColumnReader.java
  hudi-flink-datasource/hudi-flink1.15.x/src/main/java/org/apache/hudi/table/format/cow/vector/HeapRowColumnVector.java
  hudi-flink-datasource/hudi-flink1.15.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/RowColumnReader.java
Due: none

[HUDI-5191] Fix compatibility with avro 1.10 (#7175)
  .github/workflows/bot.yml
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/model/debezium/AbstractDebeziumAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/avro/TestHoodieAvroUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/functional/TestHoodieLogFormat.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestOverwriteNonDefaultsWithLatestAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestObjectSizeCalculator.java
Due: hudicommon

[HUDI-5247] Clean up java client tests (#7250)
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/client/TestHoodieJavaWriteClientInsert.java
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/execution/bulkinsert/TestJavaBulkInsertInternalPartitioner.java
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/table/action/commit/TestJavaCopyOnWriteActionExecutor.java
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/testutils/HoodieJavaClientTestBase.java
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/testutils/HoodieJavaClientTestHarness.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/commit/TestCopyOnWriteActionExecutor.java
Due: none

[HUDI-5070] Move flaky cleaner tests to separate class (#7251)
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/TestCleaner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/clean/TestCleanerInsertAndCleanByCommits.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/clean/TestCleanerInsertAndCleanByVersions.java
Due: none
