Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

[MINOR] Avoiding to ingest update records to RLI (#9675)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
Due: none

[HUDI-6834] Fixing time travel queries when overlaps with cleaner and archival time window (#9666)
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/TimelineUtils.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestTimeTravelQuery.scala
Due: hudicommon

[MINOR] Add timeout for github check test-hudi-hadoop-mr-and-hudi-java-client (#9682)
  .github/workflows/bot.yml
Due: none

[HUDI-6478] Deduce op as upsert for INSERT INTO (#9665)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/AutoRecordKeyGenerationUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieWriterUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/ProvidesHoodieConfig.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestAlterTableDropPartition.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestInsertTable.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestTimeTravelTable.scala
Due: none

[HUDI-6724] - Defaulting previous Instant time to init time to enable full read of initial commit (#9473)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/IncrSourceHelper.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/QueryRunner.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/helpers/TestIncrSourceHelper.java
Due: hudiutilities

[HUDI-6842] Fixing flaky tests for async clustering test (#9671)
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/TestHoodieTimelineArchiver.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamerTestBase.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieDeltaStreamer.java
Due: none

Resetting the thrift.home property to the default for linux
  hudi-platform-service/hudi-metaserver/pom.xml
Due: none

Address comments and fix tests
  hudi-common/src/main/java/org/apache/hudi/keygen/constant/KeyGeneratorType.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/catalyst/catalog/HoodieCatalogTable.scala
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/BootstrapExecutorUtils.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestBootstrapProcedure.scala
Due: hudicommon

[DOCS] Add documentation around downgrading hudi table
  website/docs/deployment.md
Due: none

[DOCS] Add Record Index Metadata partition documentationa and other schema details
  website/src/pages/tech-specs.md
Due: none

[MINOR] Improve the logic when building bloom filter KeyRangeLookupTree
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bloom/KeyRangeLookupTree.java
Due: none

[HUDI-6855] Exclude .hoodie_partition_metadata file in base file group
  hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java
  hudi-common/src/test/java/org/apache/hudi/common/table/view/TestHoodieTableFileSystemView.java
Due: hudicommon

add schedule_in_line param to run_clean because setting it to false is valid
  website/docs/procedures.md
Due: none

Adding a page for partially failed commits
  website/docs/rollbacks.md
  website/sidebars.js
  website/static/assets/images/blog/rollbacks/multi_writer_rollback.png
  website/static/assets/images/blog/rollbacks/single_write_rollback.png
Due: none

Update documentation around big query sync tool
  website/docs/gcp_bigquery.md
Due: none

[HUDI-6850] Add tests and docs for ported Bloom Filter classes (#9700)
  LICENSE
  hudi-common/src/main/java/org/apache/hudi/common/bloom/HashFunction.java
  hudi-common/src/main/java/org/apache/hudi/common/bloom/InternalBloomFilter.java
  hudi-common/src/main/java/org/apache/hudi/common/bloom/InternalFilter.java
  hudi-common/src/main/java/org/apache/hudi/common/bloom/Key.java
  hudi-common/src/main/java/org/apache/hudi/common/util/hash/Hash.java
  hudi-common/src/main/java/org/apache/hudi/common/util/hash/JenkinsHash.java
  hudi-common/src/main/java/org/apache/hudi/common/util/hash/MurmurHash.java
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestBloomFilter.java
  hudi-common/src/test/java/org/apache/hudi/common/table/log/TestLogReaderUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/FileSystemTestUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/HoodieTestUtils.java
  hudi-common/src/test/resources/format/bloom-filter/hadoop/all_10000.keys.data
  hudi-common/src/test/resources/format/bloom-filter/hadoop/dynamic_1000_000001_jenkins_5000.bf.data
  hudi-common/src/test/resources/format/bloom-filter/hadoop/dynamic_1000_000001_murmur_5000.bf.data
  hudi-common/src/test/resources/format/bloom-filter/hadoop/dynamic_200_000001_murmur_1000.bf.data
  hudi-common/src/test/resources/format/bloom-filter/hadoop/simple_10000_000001_murmur.bf.data
  hudi-common/src/test/resources/format/bloom-filter/hadoop/simple_1000_000001_murmur.bf.data
  hudi-common/src/test/resources/format/bloom-filter/hadoop/simple_200_000001_murmur.bf.data
  hudi-common/src/test/resources/format/bloom-filter/hadoop/simple_5000_000001_jenkins.bf.data
  hudi-common/src/test/resources/format/bloom-filter/hadoop/simple_5000_000001_murmur.bf.data
Due: hudicommon

update based on feedback
  website/docs/gcp_bigquery.md
Due: none

[HUDI-6858] Fix checkpoint reading in Spark structured streaming
  hudi-common/src/main/java/org/apache/hudi/common/util/CommitUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestCommitUtils.java
Due: hudicommon

[HUDI-6550] Add Hadoop conf to HiveConf for HiveSyncConfig (#9221)
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HiveSyncConfig.java
Due: none

[HUDI-6855] Exclude .hoodie_partition_metadata file in base file group (#9707)
  hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java
  hudi-common/src/test/java/org/apache/hudi/common/table/view/TestHoodieTableFileSystemView.java
Due: hudicommon

Update JavaHoodieIndexFactory.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/index/JavaHoodieIndexFactory.java
Due: none

[HUDI-6853] ArchiveCommitsProcedure should throw an exception when the archive operation executes failed (#9703)
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/HoodieSparkKryoRegistrar.scala
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/bootstrap/SparkFullBootstrapDataProviderBase.java
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/bootstrap/SparkOrcBootstrapDataProvider.java
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/bootstrap/SparkParquetBootstrapDataProvider.java
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/ArchiveExecutorUtils.java
Due: none

[HUDI-6858] Fix checkpoint reading in Spark structured streaming (#9711)
  hudi-common/src/main/java/org/apache/hudi/common/util/CommitUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestCommitUtils.java
Due: hudicommon

take parent version
  packaging/hudi-spark-bundle/pom.xml
Due: none

revert slim bundle pom change and disable utilities-slim-bundle test
  packaging/bundle-validation/validate.sh
  packaging/hudi-utilities-slim-bundle/pom.xml
Due: none

Remove null entries from map and fix tests
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/BaseFlinkCommitActionExecutor.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/BaseJavaCommitActionExecutor.java
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/client/functional/TestHoodieJavaClientOnCopyOnWriteStorage.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/bootstrap/SparkBootstrapCommitActionExecutor.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/commit/BaseSparkCommitActionExecutor.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieClientOnCopyOnWriteStorage.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestBootstrapProcedure.scala
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/BootstrapExecutor.java
Due: hudiutilities

Shade avro in hudi-utilities-slim-bundle
  packaging/hudi-utilities-slim-bundle/pom.xml
Due: none

Test NoWrappingJsonEncoder with avro shading
  .github/workflows/bot.yml
  packaging/hudi-spark-bundle/pom.xml
Due: none

fix integ-test dep
  hudi-integ-test/pom.xml
  packaging/hudi-integ-test-bundle/pom.xml
Due: none

Revert enum name change and fix deltastreamer tests
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/factory/HoodieAvroKeyGeneratorFactory.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/TestKeyGenUtils.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/factory/TestCreateAvroKeyGeneratorByTypeWithFactory.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/factory/TestHoodieAvroKeyGeneratorFactory.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/keygen/factory/HoodieSparkKeyGeneratorFactory.java
  hudi-common/src/main/java/org/apache/hudi/keygen/constant/KeyGeneratorType.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/streamer/FlinkStreamerConfig.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/TestHoodieTableSource.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/keygen/TestCustomKeyGenerator.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/keygen/factory/TestCreateKeyGeneratorByTypeWithFactory.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/keygen/factory/TestHoodieSparkKeyGeneratorFactory.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestCreateTable.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestBootstrapProcedure.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestRepairsProcedure.scala
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieMultiTableDeltaStreamer.java
  hudi-utilities/src/test/resources/streamer-config/short_trip_uber_config.properties
Due: hudicommon

Revert "fix integ-test dep"
  hudi-integ-test/pom.xml
  packaging/hudi-integ-test-bundle/pom.xml
Due: none

Use enum methods
  hudi-common/src/main/java/org/apache/hudi/common/model/RecordPayloadType.java
  hudi-common/src/main/java/org/apache/hudi/common/util/ConfigUtils.java
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/BootstrapExecutorUtils.java
Due: hudicommon

[HUDI-6678] Fix the acquisition of clean and rollback instants to archive
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/timeline/HoodieTimelineArchiver.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/TestHoodieTimelineArchiver.java
Due: none

Port JsonEncider
  hudi-common/src/main/java/org/apache/avro/io/NoWrappingJsonEncoder.java
  hudi-common/src/main/java/org/apache/hudi/avro/JsonEncoder.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/MetadataConversionUtils.java
  packaging/bundle-validation/validate.sh
  packaging/hudi-spark-bundle/pom.xml
Due: hudicommon

Address review comments
  website/docs/deployment.md
Due: none

fix documentation spacing
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieCleanConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
Due: none

update cleaner docs
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieCleanConfig.java
Due: none

[HUDI-6780] Introduce enums instead of classnames in table properties (#9590)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieBootstrapConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/bootstrap/index/BootstrapIndex.java
  hudi-common/src/main/java/org/apache/hudi/common/model/BootstrapIndexType.java
  hudi-common/src/main/java/org/apache/hudi/common/model/RecordPayloadType.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-common/src/main/java/org/apache/hudi/common/util/ConfigUtils.java
  hudi-common/src/main/java/org/apache/hudi/keygen/constant/KeyGeneratorType.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableFactory.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DataSourceOptions.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieWriterUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/catalyst/catalog/HoodieCatalogTable.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/HoodieOptionConfig.scala
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/BootstrapExecutorUtils.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestCreateTable.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestHoodieOptionConfig.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestRepairsProcedure.scala
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieMultiTableDeltaStreamer.java
  hudi-utilities/src/test/resources/streamer-config/short_trip_uber_config.properties
Due: hudicommon
