Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

GitHub Actions build asf-site
  content/assets/js/main.1581b0e7.js
  content/assets/js/runtime~main.531fbbda.js
  content/cn/assets/js/runtime~main.27739ad0.js
Due: none

resolve merge conflicts
  content/assets/js/ff15e2eb.56afd80d.js
  content/assets/js/main.20b1abff.js
  content/assets/js/runtime~main.8bfe9e42.js
  content/cn/assets/js/ff15e2eb.58d0a7c0.js
  content/cn/assets/js/runtime~main.e066d89d.js
Due: none

added onetable support
  website/docs/syncing_onetable.md
  website/sidebars.js
  website/versioned_docs/version-0.14.0/syncing_onetable.md
  website/versioned_docs/version-0.14.1/syncing_onetable.md
  website/versioned_sidebars/version-0.14.0-sidebars.json
  website/versioned_sidebars/version-0.14.1-sidebars.json
Due: none

added onetable support (#10461)
  website/docs/syncing_onetable.md
  website/sidebars.js
  website/versioned_docs/version-0.14.0/syncing_onetable.md
  website/versioned_docs/version-0.14.1/syncing_onetable.md
  website/versioned_sidebars/version-0.14.0-sidebars.json
  website/versioned_sidebars/version-0.14.1-sidebars.json
Due: none

[HUDI-7251] Support partial schema for CDC workload
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/SchemaProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/StreamSync.java
Due: hudiutilities

[HUDI-7240] Clean delete logic
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieDeleteHelper.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieAvroIndexedRecord.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieAvroRecord.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieAvroRecordMerger.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieRecord.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieRecordPayload.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordScanner.java
  hudi-common/src/main/java/org/apache/hudi/common/util/SpillableMapUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/functional/TestHoodieLogFormat.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/TestCustomMerger.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/TestEventTimeMerging.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/reader/HoodieFileGroupReaderTestHarness.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/reader/HoodieRecordTestPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/reader/HoodieTestReaderContext.java
Due: hudicommon

Update hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/ParquetDFSSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/ParquetDFSSource.java
Due: hudiutilities

merge schema parquet dfs source
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/ParquetDFSSource.java
Due: hudiutilities

flag with new parquet dfs source config
  hudi-utilities/src/main/java/org/apache/hudi/utilities/config/ParquetDFSSourceConfig.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/ParquetDFSSource.java
Due: hudiutilities

renaming config
  hudi-utilities/src/main/java/org/apache/hudi/utilities/config/ParquetDFSSourceConfig.java
Due: hudiutilities

add parquet merge schema config
  website/docs/configurations.md
Due: none

rename configs again to match docs
  hudi-utilities/src/main/java/org/apache/hudi/utilities/config/ParquetDFSSourceConfig.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/ParquetDFSSource.java
Due: hudiutilities

[HUDI-7265] Support schema evolution by Flink SQL using HoodieHiveCatalog
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieWriteClient.java
  hudi-common/src/main/java/org/apache/hudi/common/table/TableSchemaResolver.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HoodieHiveCatalog.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestSchemaEvolutionBySQL.java
Due: hudicommon

Split unrelated functions into others interfaces and utils class
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HoodieHiveCatalog.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/FlinkTypeConverter.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/TableSchemaSupplier.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/Utils.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/FlinkTypeConverter.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/TableSchemaSupplier.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/Utils.java
Due: none

Add more tests
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestSchemaEvolutionBySQL.java
Due: none

Move alter table into hudiHiveCatalog
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HoodieHiveCatalog.java
  hudi-flink-datasource/hudi-flink1.14.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.14.x/src/main/java/org/apache/hudi/adapter/Utils.java
  hudi-flink-datasource/hudi-flink1.15.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.15.x/src/main/java/org/apache/hudi/adapter/Utils.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/Utils.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/FlinkTypeConverter.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/TableSchemaSupplier.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/Utils.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/FlinkTypeConverter.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/TableSchemaSupplier.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/Utils.java
Due: none

Advanced alter table syntax is introduced since 1.17 version. Solve the API difference between Flink 1.14 to Flink 1.18
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HoodieHiveCatalog.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestSchemaEvolutionBySQL.java
  hudi-flink-datasource/hudi-flink1.14.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.14.x/src/test/java/org/apache/hudi/adapter/TestHoodieCatalogs.java
  hudi-flink-datasource/hudi-flink1.15.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.15.x/src/test/java/org/apache/hudi/adapter/TestHoodieCatalogs.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/test/java/org/apache/hudi/adapter/TestHoodieCatalogs.java
  hudi-flink-datasource/hudi-flink1.17.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.17.x/src/test/java/org/apache/hudi/adapter/TestHoodieCatalogs.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/adapter/HoodieHiveCatalogAdapter.java
  hudi-flink-datasource/hudi-flink1.18.x/src/test/java/org/apache/hudi/adapter/TestHoodieCatalogs.java
Due: none

Minor update
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HoodieHiveCatalog.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestSchemaEvolutionBySQL.java
  hudi-flink-datasource/hudi-flink1.14.x/src/main/java/org/apache/hudi/adapter/Utils.java
  hudi-flink-datasource/hudi-flink1.15.x/src/main/java/org/apache/hudi/adapter/Utils.java
  hudi-flink-datasource/hudi-flink1.15.x/src/test/java/org/apache/hudi/adapter/TestHoodieCatalogs.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/Utils.java
Due: none

Check the primary key, precombine key, partition key could not change
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HoodieHiveCatalog.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestSchemaEvolutionBySQL.java
Due: none

Increasing existing partitions with repartition if needed (#500)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/CloudObjectsSelectorCommon.java
Due: hudiutilities

fix comment
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/HoodieSparkFileWriterFactory.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/storage/TestHoodieAvroFileWriterFactory.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieAvroFileWriterFactory.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieFileWriterFactory.java
Due: hudicommon

stream sync doesn't differentiate replace commits
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieDefaultTimeline.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieTimeline.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/StreamSync.java
Due: hudicommon, hudiutilities

don't deserialize until we know it's not completed
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieDefaultTimeline.java
Due: hudicommon

fix comment
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieTimeline.java
Due: hudicommon

warn if can't read metadata
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieDefaultTimeline.java
Due: hudicommon

[HUDI-6902] Create a dummy PR to trigger tests
  hudi-spark-datasource/hudi-spark-common/src/test/java/org/apache/hudi/testutils/SparkDatasetTestUtils.java
  pom.xml
Due: none

[HUDI-6902] Clean up potential orphan processes
  .github/workflows/bot.yml
Due: none

[HUDI-6902] Use mvnw command for hadoop-mr test
  .github/workflows/bot.yml
Due: none

[HUDI-6902] Use mvnw command for hadoo-mr test
  .github/workflows/bot.yml
Due: none

[HUDI-6902] Give minimum memory for unit tests
  pom.xml
Due: none

[HUDI-7279] make sampling rate configurable for BOUNDED_IN_MEMORY executor type (#10459)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/util/ExecutorFactory.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryQueue.java
Due: hudicommon

[HUDI-5973] Fixing refreshing of schemas in HoodieStreamer continuous mode (#10261)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/FilebasedSchemaProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/SchemaProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/SchemaRegistryProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/StreamSync.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/schema/TestSchemaRegistryProvider.java
Due: hudiutilities

[HUDI-7282] avoid verification failure due to append writing of the cow table with cluster configuration when the index is bucket.
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/ClusteringUtil.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestClusteringUtil.java
Due: none

[HUDI-7241] Avoid always broadcast HUDI relation if not using HoodieSparkSessionExtension
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileIndex.scala
Due: none

Update the logical to check whether HoodieExtension is enabled
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileIndex.scala
Due: none

[HUDI-7288] Fix ArrayIndexOutOfBoundsException when upgrade nonPartitionedTable created by 0.10/0.11 HUDI version
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/FourToFiveUpgradeHandler.java
Due: none

[MINOR] Fix unit tests (#10362)
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/client/TestJavaHoodieBackedMetadata.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamerTestBase.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieDeltaStreamer.java
Due: none

[HUDI-7284] Stream sync doesn't differentiate replace commits (#10467)
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieDefaultTimeline.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieTimeline.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/StreamSync.java
Due: hudicommon, hudiutilities
