Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

fix compaction cli usage
  website/docs/cli.md
  website/i18n/cn/docusaurus-plugin-content-docs/current/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.5.0/admin_guide.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.5.1/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.5.2/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.5.3/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.6.0/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.7.0/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.8.0/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.9.0/deployment.md
  website/versioned_docs/version-0.10.0/cli.md
  website/versioned_docs/version-0.10.1/cli.md
  website/versioned_docs/version-0.11.0/cli.md
  website/versioned_docs/version-0.11.1/cli.md
  website/versioned_docs/version-0.12.0/cli.md
  website/versioned_docs/version-0.12.1/cli.md
  website/versioned_docs/version-0.5.0/admin_guide.md
  website/versioned_docs/version-0.5.1/deployment.md
  website/versioned_docs/version-0.5.2/deployment.md
  website/versioned_docs/version-0.5.3/deployment.md
  website/versioned_docs/version-0.6.0/deployment.md
  website/versioned_docs/version-0.7.0/deployment.md
  website/versioned_docs/version-0.8.0/deployment.md
  website/versioned_docs/version-0.9.0/cli.md
  website/versioned_docs/version-0.9.0/deployment.md
Due: none

addressing feedback
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieBaseRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieParamUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/IncrementalRelation.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestAlterTable.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestSpark3DDL.scala
Due: none

[MINOR] Reuse empty InternalSchema instance (#7287)
  hudi-common/src/main/java/org/apache/hudi/internal/schema/InternalSchema.java
Due: hudicommon

[HUDI-5304] Disabling spark-sql core flow tests to unblock CI (#7346)
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSparkSqlCoreFlow.scala
Due: none

Rebased MOR iterators onto a `CachingIterator` (to be idempotent) (#7334)
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/HoodieSparkUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/Iterators.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/util/CachingIterator.scala
Due: none

[HUDI-5306] Unify RecordIterator and HoodieParquetReader with ClosableIterator (#7340)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/OptionsResolver.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/CastMap.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/ParquetSplitRecordIterator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/RecordIterators.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/SchemaEvolvedRecordIterator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/cdc/CdcInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/cow/CopyOnWriteInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadInputFormat.java
Due: none

Revert "[MINOR] Bumping Azure Ubuntu image to 22.04, as 18.04 will be deprecated soon (#7347)" (#7350)
  azure-pipelines.yml
Due: none

[HUDI-3981] Flink engine support for comprehensive schema evolution (#5830)
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/HoodieFlinkTable.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/OptionsResolver.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSource.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/CastMap.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/FormatUtils.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/HoodieParquetEvolvedSplitReader.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/HoodieParquetReader.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/HoodieParquetSplitReader.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/InternalSchemaManager.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/cdc/CdcInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/cow/CopyOnWriteInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/RowDataCastProjection.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/RowDataProjection.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestSchemaEvolution.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/format/TestCastMap.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestConfigurations.java
Due: none

[HUDI-5279] move logic for deleting active instant to HoodieActiveTimeline (#7196)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/HoodieTimelineArchiver.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieActiveTimeline.java
Due: hudicommon

[HUDI-5278] Support more conf to cluster procedure (#7304)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieClusteringConfig.java
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/RunClusteringProcedure.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestClusteringProcedure.scala
Due: none

[MINOR] Bumping Azure Ubuntu image to 22.04, as 18.04 will be deprecated soon (#7347)
  azure-pipelines.yml
Due: none

[DOCS] Fix compaction cli usage (#7358)
  website/docs/cli.md
  website/i18n/cn/docusaurus-plugin-content-docs/current/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.5.0/admin_guide.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.5.1/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.5.2/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.5.3/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.6.0/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.7.0/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.8.0/deployment.md
  website/i18n/cn/docusaurus-plugin-content-docs/version-0.9.0/deployment.md
  website/versioned_docs/version-0.10.0/cli.md
  website/versioned_docs/version-0.10.1/cli.md
  website/versioned_docs/version-0.11.0/cli.md
  website/versioned_docs/version-0.11.1/cli.md
  website/versioned_docs/version-0.12.0/cli.md
  website/versioned_docs/version-0.12.1/cli.md
  website/versioned_docs/version-0.5.0/admin_guide.md
  website/versioned_docs/version-0.5.1/deployment.md
  website/versioned_docs/version-0.5.2/deployment.md
  website/versioned_docs/version-0.5.3/deployment.md
  website/versioned_docs/version-0.6.0/deployment.md
  website/versioned_docs/version-0.7.0/deployment.md
  website/versioned_docs/version-0.8.0/deployment.md
  website/versioned_docs/version-0.9.0/cli.md
  website/versioned_docs/version-0.9.0/deployment.md
Due: none

fix the default lock config
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/FlinkWriteClients.java
Due: none

disable the sparksqlcoreflow tests
  hudi-spark-datasource/hudi-spark/pom.xml
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/SparkSQLCoreFlow.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSparkSqlCoreFlow.scala
Due: none

[HUDI-5205] Upgrade Flink to 1.16.0
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteOperatorCoordinator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bulk/sort/SortOperatorGen.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/TestStreamWriteOperatorCoordinator.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/InsertFunctionWrapper.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/StreamWriteFunctionWrapper.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/TestWriteBase.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestData.java
  hudi-flink-datasource/hudi-flink1.16.x/pom.xml
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/AbstractStreamOperatorAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/AbstractStreamOperatorFactoryAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/DataStreamScanProviderAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/DataStreamSinkProviderAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/MailboxExecutorAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/RateLimiterAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/adapter/Utils.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/ParquetSplitReaderUtil.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/HeapArrayVector.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/HeapMapColumnVector.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/HeapRowColumnVector.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/ParquetDecimalVector.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/AbstractColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/ArrayColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/BaseVectorizedColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/FixedLenBytesColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/Int64TimestampColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/MapColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/ParquetColumnarRowSplitReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/ParquetDataColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/ParquetDataColumnReaderFactory.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/RowColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/RunLengthDecoder.java
  hudi-flink-datasource/hudi-flink1.16.x/src/test/java/org/apache/hudi/adapter/OutputAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/test/java/org/apache/hudi/adapter/StateInitializationContextAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/test/java/org/apache/hudi/adapter/StreamingRuntimeContextAdapter.java
  hudi-flink-datasource/hudi-flink1.16.x/src/test/java/org/apache/hudi/adapter/TestTableEnvs.java
  hudi-flink-datasource/pom.xml
  pom.xml
Due: none

broadcast the schemas
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/MergeIntoHoodieTableCommand.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/payload/ExpressionPayload.scala
Due: none

[HUDI-5302] Fix: compute hash key from recordKey failed when recordKeyValue contains ',' (#7342)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/BucketIdentifier.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/index/bucket/TestBucketIdentifier.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/TestKeyGenUtils.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestInsertTable.scala
Due: none

[MINOR] Disable the `SparkSqlCoreFlow` tests (#7368)
  hudi-spark-datasource/hudi-spark/pom.xml
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/SparkSQLCoreFlow.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSparkSqlCoreFlow.scala
Due: none

Close the queue after processing is done
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
Due: hudicommon

Tidying up
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/execution/CopyOnWriteInsertHandler.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
Due: none

`BoundedInMemoryQueueIterable` > `BoundedInMemoryQueue`
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/TestBoundedInMemoryQueue.java
  hudi-common/src/main/java/org/apache/hudi/common/util/ParquetReaderIterator.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryQueue.java
Due: hudicommon

Revisited `BoundedInMemoryExecutor` bootstrapping w/o consumer; Cleaned up `HoodieIterableMessageQueue`
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryQueue.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/FunctionBasedQueueProducer.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/HoodieIterableMessageQueue.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/IteratorBasedQueueProducer.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/FormatUtils.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/RealtimeUnmergedRecordReader.java
Due: hudicommon, hudihadoopmr

Tidying up
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/HoodieExecutor.java
Due: hudicommon

Delineated sealing/closing of the queue (addressing the issue of shuttind down the queue prematurely)
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryQueue.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/HoodieMessageQueue.java
Due: hudicommon

Lifted all queue lifecycle management to `HoodieExecutorBase`
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/HoodieExecutorBase.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/HoodieMessageQueue.java
Due: hudicommon

Tidying up
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorMessageQueue.java
Due: hudicommon

Relocated Disruptor queue setup under `doConsume`
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorExecutor.java
Due: hudicommon

Removed unnecessary casting
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorExecutor.java
Due: hudicommon

Fixed incorrect use of `CountDownLatch`
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
Due: hudicommon

Lifted up all concurrency management to `BaseHoodieQueueBasedExuecutor`; Fixed handling of the case when there's no consumer provide closing the queue prematurely
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorExecutor.java
Due: hudicommon

Adding logs
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
Due: hudicommon

Replace `join` w/ `get` to be able to handle `InterruptedException`
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
Due: hudicommon

Abstracted common producing seq
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorExecutor.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/FormatUtils.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/RealtimeUnmergedRecordReader.java
Due: hudicommon, hudihadoopmr

Cleaned up `IteratorBasedQueueConsumer`
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/execution/CopyOnWriteInsertHandler.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/bootstrap/BootstrapRecordConsumer.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseMergeHelper.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/util/QueueBasedExecutorFactory.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/execution/ExplicitWriteHandler.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/TestBoundedInMemoryExecutorInSpark.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/TestDisruptorExecutionInSpark.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/TestDisruptorMessageQueue.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorMessageQueue.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/FunctionBasedQueueProducer.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/HoodieConsumer.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/HoodieProducer.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/IteratorBasedQueueConsumer.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/IteratorBasedQueueProducer.java
Due: hudicommon

Tidying up
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BaseHoodieQueueBasedExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorExecutor.java
Due: hudicommon

Tidying up
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/HoodieExecutor.java
Due: hudicommon

Unified `getResult` and `finish` in one API
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/execution/CopyOnWriteInsertHandler.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/bootstrap/BootstrapRecordConsumer.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseMergeHelper.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/execution/ExplicitWriteHandler.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/TestBoundedInMemoryExecutorInSpark.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/TestDisruptorExecutionInSpark.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/TestDisruptorMessageQueue.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/DisruptorExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/IteratorBasedQueueConsumer.java
Due: hudicommon

Rebased direct users of the BIMQ to rely on `QueueBasedExecutorFactory` instead
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/util/QueueBasedExecutorFactory.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/execution/FlinkLazyInsertIterable.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/execution/JavaLazyInsertIterable.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
Due: hudicommon

Adding missing deps to bundles
  packaging/hudi-flink-bundle/pom.xml
  packaging/hudi-kafka-connect-bundle/pom.xml
Due: none
