Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

[HUDI-4975] Fix datahub bundle dependency
  packaging/hudi-datahub-sync-bundle/pom.xml
Due: none

[HUDI-4992] Fixing invalid min/max record key stats in Parquet metadata (#6883)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/storage/HoodieOrcWriter.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/avro/TestHoodieAvroParquetWriter.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/io/storage/TestHoodieOrcReaderWriter.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowDataParquetWriteSupport.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowParquetWriteSupport.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/storage/row/TestHoodieInternalRowParquetWriter.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroWriteSupport.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieBloomFilterWriteSupport.java
  hudi-common/src/main/java/org/apache/hudi/common/util/BaseFileUtils.java
  hudi-common/src/test/java/org/apache/hudi/avro/TestHoodieAvroWriteSupport.java
Due: hudicommon

IT test for concurrent clustering & upsert
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/ClusteringPlanActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/strategy/BaseConsistentHashingBucketClusteringPlanStrategy.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/update/strategy/UpdateStrategy.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bucket/ConsistentBucketStreamWriteFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/update/strategy/BaseFlinkUpdateStrategy.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/update/strategy/FlinkConsistentBucketDuplicateUpdateStrategy.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/update/strategy/FlinkRejectUpdateStrategy.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/ConsistentHashingBucketIndexPartitioner.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/ClusteringUtil.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/cluster/ITTestFlinkConsistentHashingClustering.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/cluster/ITTestHoodieFlinkRejectUpdateStrategy.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/cluster/TestConsistentHashingClusteringBase.java
Due: none

[HUDI-4998] Inference of META_SYNC_PARTITION_EXTRACTOR_CLASS does not work
  hudi-sync/hudi-sync-common/src/main/java/org/apache/hudi/sync/common/HoodieSyncConfig.java
Due: none

Relocate apache http package (#6874)
  packaging/hudi-spark-bundle/pom.xml
Due: none

[HUDI-4999] Refactor FlinkOptions#allOptions and CatalogOptions#allOptions
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/OptionsResolver.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/CatalogOptions.java
Due: none

[HUDI-4954] Shade avro in spark bundle
  packaging/hudi-spark-bundle/pom.xml
Due: none

HUDI-4997: use jackson-v2 replace jackson-v1 import.
  dependencies/hudi-flink-bundle_2.11.txt
  dependencies/hudi-flink-bundle_2.12.txt
  dependencies/hudi-hadoop-mr-bundle.txt
  dependencies/hudi-hive-sync-bundle.txt
  dependencies/hudi-integ-test-bundle.txt
  dependencies/hudi-kafka-connect-bundle.txt
  dependencies/hudi-presto-bundle.txt
  dependencies/hudi-spark-bundle_2.11.txt
  dependencies/hudi-spark-bundle_2.12.txt
  dependencies/hudi-spark3-bundle_2.12.txt
  dependencies/hudi-timeline-server-bundle.txt
  dependencies/hudi-utilities-bundle_2.11.txt
  dependencies/hudi-utilities-bundle_2.12.txt
  hudi-client/hudi-flink-client/pom.xml
  hudi-client/hudi-spark-client/pom.xml
  hudi-common/pom.xml
  packaging/hudi-integ-test-bundle/pom.xml
  packaging/hudi-presto-bundle/pom.xml
  packaging/hudi-timeline-server-bundle/pom.xml
  packaging/hudi-trino-bundle/pom.xml
  pom.xml
Due: none

[HUDI-3529][RFC-63] Hudi bundle standards
  rfc/README.md
  rfc/rfc-63/rfc-63.md
Due: none

[HUDI-5000] Support schema evolution for Hive
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HoodieParquetInputFormat.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/SchemaEvolutionContext.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/AbstractRealtimeRecordReader.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/RealtimeCompactedRecordReader.java
  packaging/hudi-hadoop-mr-bundle/pom.xml
Due: hudihadoopmr

column name sanitization for row source
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/DeltaSync.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/SourceFormatAdapter.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/FilebasedSchemaProvider.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestSourceFormatAdapter.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/schema/TestFilebasedSchemaProvider.java
  hudi-utilities/src/test/resources/data/avro_sanitization.json
  hudi-utilities/src/test/resources/data/avro_sanitization_bad_naming_in.json
  hudi-utilities/src/test/resources/data/avro_sanitization_bad_naming_nested_array_in.json
  hudi-utilities/src/test/resources/data/avro_sanitization_bad_naming_nested_array_out.json
  hudi-utilities/src/test/resources/data/avro_sanitization_bad_naming_nested_map_in.json
  hudi-utilities/src/test/resources/data/avro_sanitization_bad_naming_nested_map_out.json
  hudi-utilities/src/test/resources/data/avro_sanitization_bad_naming_out.json
  hudi-utilities/src/test/resources/delta-streamer-config/file_schema_provider_invalid.avsc
  hudi-utilities/src/test/resources/delta-streamer-config/file_schema_provider_valid.avsc
Due: hudicommon, hudiutilities

HUDI-4997: Fix CheckStyle.
  packaging/hudi-presto-bundle/pom.xml
  packaging/hudi-trino-bundle/pom.xml
Due: none

update default value of META_SYNC_PARTITION_EXTRACTOR_CLASS
  hudi-sync/hudi-sync-common/src/main/java/org/apache/hudi/sync/common/HoodieSyncConfig.java
  hudi-sync/hudi-sync-common/src/test/java/org/apache/hudi/sync/common/TestHoodieSyncConfig.java
Due: none

[HUDI-4975] Fix datahub bundle dependency (#6896)
  packaging/hudi-datahub-sync-bundle/pom.xml
Due: none

[HUDI-4999] Refactor FlinkOptions#allOptions and CatalogOptions#allOptions (#6901)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/OptionsResolver.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/CatalogOptions.java
Due: none

HUDI-5002. Improve SparkHoodieHBaseIndex#generateStatement With Hbase Recommend Method.
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/index/hbase/SparkHoodieHBaseIndex.java
Due: none

small refactor
  hudi-sync/hudi-datahub-sync/src/main/java/org/apache/hudi/sync/datahub/DataHubSyncClient.java
Due: none

remove unused
  hudi-sync/hudi-datahub-sync/src/main/java/org/apache/hudi/sync/datahub/DataHubSyncClient.java
Due: none

putting exception in deltastreamer sync to test failing
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamer.java
Due: hudiutilities

Added test that verifies if RestEmitter is invoked
  hudi-sync/hudi-datahub-sync/src/main/java/org/apache/hudi/sync/datahub/DataHubSyncClient.java
  hudi-sync/hudi-datahub-sync/src/test/java/org/apache/hudi/sync/datahub/DummyPartitionValueExtractor.java
  hudi-sync/hudi-datahub-sync/src/test/java/org/apache/hudi/sync/datahub/TestDataHubSyncClient.java
Due: none

caused an actual exception this time
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamer.java
Due: hudiutilities

added some warning messages
  scripts/run_utilities_bundle_test.sh
Due: none

Avoid file-reader re-initialization, abstracting common vars; Tidying up
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
Due: none

Fixed `shouldRewriteInWriterSchema` flag handling to properly handle bootstrap case
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
Due: none

Extracted (advanced) schema evolution handling into a standalone method
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
Due: none

Dismabiguate writer/reader schemas in `HoodieMergeHelper`
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
Due: none

Tidying up
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
Due: none

Fixing compilation
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseMergeHelper.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
Due: hudicommon

Rebase onto proper record re-writing utility
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
Due: hudicommon

Rebased Schema Evolution seq to produce opaque record transformer; Added `MappingIterator`
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/util/collection/MappingIterator.java
Due: hudicommon

Missing license
  hudi-common/src/main/java/org/apache/hudi/common/util/collection/MappingIterator.java
Due: hudicommon

Added ability to `HoodieMergeHelper` to rewrite records in the writer schema in cases when writer-schema is not strictly a projection of the reader-schema
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
  hudi-common/src/main/java/org/apache/hudi/avro/AvroSchemaUtils.java
Due: hudicommon

Cleaned up `MergeHelper` impls
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseMergeHelper.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/FlinkMergeHelper.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/JavaMergeHelper.java
Due: none

Rebased record transformation to bypass Avro encoding/decoding (using object traversals instead)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
Due: none

Pass in record-iterator to bootstrap handler
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseMergeHelper.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/FlinkMergeHelper.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/JavaMergeHelper.java
Due: none

Cleaned up unnecessary generics
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseMergeHelper.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/FlinkMergeHelper.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/JavaMergeHelper.java
Due: none

Removed superfluous impls of `MergeHelper`s for Flink/Java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseMergeHelper.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieMergeHelper.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/HoodieFlinkCopyOnWriteTable.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/BaseFlinkCommitActionExecutor.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/FlinkMergeHelper.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/HoodieJavaCopyOnWriteTable.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/BaseJavaCommitActionExecutor.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/JavaMergeHelper.java
Due: none
