Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

test(trino): add a Trino E2E testcontainers pipeline for the RFC-105 connector (#19217)
  .github/workflows/hudi_trino_e2e.yml
  docker/README.md
  docker/compose/docker-compose_hadoop340_hive2310_spark402_amd64.yml
  docker/compose/docker-compose_hadoop340_hive2310_spark402_arm64.yml
  docker/demo/sparksql-stock-ticks-trino.commands
  docker/demo/trino-batch1.commands
  docker/demo/trino-batch2-after-compaction.commands
  docker/demo/trino-table-check.commands
  docker/trino/.dockerignore
  docker/trino/.gitignore
  docker/trino/Dockerfile
  docker/trino/build_image.sh
  docker/trino/empty-overlay/.gitkeep
  docker/trino/etc/catalog/hudi.properties
  docker/trino/etc/config.properties
  docker/trino/etc/hadoop-conf/core-site.xml
  docker/trino/etc/hadoop-conf/hdfs-site.xml
  docker/trino/etc/jvm.config
  docker/trino/etc/node.properties
  docker/trino/overlay-entrypoint.sh
  docker/trino/shim/pom.xml
  docker/trino/shim/src/main/java/io/trino/plugin/hudi/HudiPlugin.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ/ITTestBase.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ/ITTestHoodieDemo.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ2/testcontainers/ITTestBaseTestcontainers.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ2/testcontainers/TestcontainersConfig.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ2/testcontainers/service/TrinoService.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ2/testcontainers/trino/ITTestTrinoCustomType.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ2/testcontainers/trino/ITTestTrinoSmoke.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ2/testcontainers/trino/ITTestTrinoStockTicks.java
  hudi-trino/README.md
Due: none

fix(flink): close lookup reader after cache reload attempts (#19503)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/lookup/HoodieLookupFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/lookup/HoodieLookupTableReader.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/lookup/TestHoodieLookupFunction.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/lookup/TestHoodieLookupTableReader.java
Due: none

fix(meta-sync): advance last commit time synced when it trails the active timeline midpoint (#19239)
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HiveSyncTool.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/TestHiveSyncTool.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/TestHiveSyncToolTimelineMidpoint.java
Due: none

fix(metrics): route the reflection failures a CloudWatch skew actually produces (#19477)
  hudi-common/src/main/java/org/apache/hudi/metrics/MetricsReporterFactory.java
  hudi-common/src/test/java/org/apache/hudi/metrics/TestMetricsReporterFactory.java
Due: hudicommon

fix(flink): preserve Avro fixed decimal widths in Parquet writes (#19522)
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/storage/row/RowDataParquetWriteSupport.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/storage/row/parquet/ParquetRowDataWriter.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/storage/row/parquet/ParquetSchemaConverter.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/storage/row/parquet/TestParquetRowDataWriter.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/storage/row/parquet/TestParquetSchemaConverter.java
  hudi-common/src/main/java/org/apache/hudi/common/schema/HoodieSchemaUtils.java
Due: hudicommon

fix(metrics): do not drop the whole CloudWatch batch on one unmappable metric name (#19476)
  hudi-aws/src/main/java/org/apache/hudi/aws/metrics/cloudwatch/CloudWatchReporter.java
  hudi-aws/src/test/java/org/apache/hudi/aws/metrics/cloudwatch/TestCloudWatchReporter.java
Due: none

fix(build): point the Trino module poms at this branch's version
  docker/trino/shim/pom.xml
  hudi-trino/pom.xml
Due: none

fix(trino): report real block size and slice splits solely by target_split_size (#19478)
  hudi-trino/src/main/java/io/trino/plugin/hudi/HudiConfig.java
  hudi-trino/src/main/java/io/trino/plugin/hudi/HudiSessionProperties.java
  hudi-trino/src/main/java/io/trino/plugin/hudi/split/HudiSplitFactory.java
  hudi-trino/src/main/java/io/trino/plugin/hudi/storage/HudiTrinoStorage.java
  hudi-trino/src/test/java/io/trino/plugin/hudi/TestHudiConfig.java
  hudi-trino/src/test/java/io/trino/plugin/hudi/TestHudiSessionProperties.java
  hudi-trino/src/test/java/io/trino/plugin/hudi/split/TestHudiSplitFactory.java
  hudi-trino/src/test/java/io/trino/plugin/hudi/storage/TestHudiTrinoStorage.java
Due: none

perf(common): avoid redundant V1 archived timeline loads in incremental queries
  hudi-common/src/main/java/org/apache/hudi/common/table/read/IncrementalQueryAnalyzer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/read/TestIncrementalQueryAnalyzer.java
Due: hudicommon

docs(troubleshooting): scope the metaconf: override to Beeline
  website/docs/troubleshooting.md
  website/versioned_docs/version-1.2.0/troubleshooting.md
Due: none

docs(schema-evolution): scope the metaconf: override to Beeline
  website/docs/schema_evolution.md
  website/versioned_docs/version-1.2.0/schema_evolution.md
Due: none

docs(cleaning): name both endpoints of the incremental clean range
  website/docs/cleaning.md
  website/learn/tech-specs.md
  website/versioned_docs/version-1.2.0/cleaning.md
Due: none

fix(trino): derive stats-index columns when no index definition exists
  hudi-trino/src/main/java/io/trino/plugin/hudi/query/index/HudiBaseIndexSupport.java
  hudi-trino/src/main/java/io/trino/plugin/hudi/query/index/HudiColumnStatsIndexSupport.java
  hudi-trino/src/main/java/io/trino/plugin/hudi/query/index/HudiPartitionStatsIndexSupport.java
Due: none

fix(trino): emit Utf8 for Avro string fields so MoR merges compare
  hudi-trino/src/main/java/io/trino/plugin/hudi/util/HudiAvroSerializer.java
  hudi-trino/src/test/java/io/trino/plugin/hudi/TestHudiMorMergeModeSemantics.java
  hudi-trino/src/test/java/io/trino/plugin/hudi/testing/StringOrderingHudiTablesInitializer.java
Due: none

docs(sql-ddl): partition columns must be declared last in CREATE TABLE
  website/docs/sql_ddl.md
  website/versioned_docs/version-1.0.0/sql_ddl.md
  website/versioned_docs/version-1.0.1/sql_ddl.md
  website/versioned_docs/version-1.0.2/sql_ddl.md
  website/versioned_docs/version-1.1.1/sql_ddl.md
  website/versioned_docs/version-1.2.0/sql_ddl.md
Due: none

test(index): certify cross-cluster vector updates
  .gitignore
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/metadata/TestSparkVectorIndexUpdater.java
Due: none

test(meta-fields): document why incremental assertions avoid count()
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestMetaFieldsModeE2E.java
Due: none

fix(hive-sync): resolve DROP partition values before fanning out
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/ddl/HiveQueryDDLExecutor.java
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/util/HivePartitionUtil.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/util/TestDropPartitionExtractorThreading.java
Due: none

fix(spark): read shredded variants through internal write-side parquet reads
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/SparkFileFormatInternalRowReaderContext.scala
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/hudi/SparkAdapter.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/dml/schema/TestVariantDataType.scala
  hudi-spark-datasource/hudi-spark4.1.x/src/main/scala/org/apache/spark/sql/adapter/Spark4_1Adapter.scala
  hudi-spark-datasource/hudi-spark4.2.x/src/main/scala/org/apache/spark/sql/adapter/Spark4_2Adapter.scala
Due: none

refactor(hive-sync): rename IMetaStoreClientPool to HiveMetaStoreClientPool
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HoodieHiveSyncClient.java
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/ddl/HiveQueryDDLExecutor.java
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/util/HiveMetaStoreClientPool.java
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/util/ParallelDispatch.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/TestHiveSyncTool.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/util/TestDropPartitionExtractorThreading.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/util/TestHiveMetaStoreClientPool.java
Due: none

fix(metadata): fix ArrayIndexOutOfBoundsException when 1.x reader merges old MDT records
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataPayload.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/metadata/TestHoodieMetadataPayload.java
Due: hudicommon

test(hive-sync): seed the pool fields close() now reads
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/TestHoodieHiveSyncClientClose.java
Due: none

fix(upgrade): downgrade a selective mode instead of rejecting it
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/TenToNineDowngradeHandler.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/table/upgrade/TestTenToNineDowngradeHandler.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieHadoopFsRelationFactory.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/IncrementalRelationV1.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/IncrementalRelationV2.scala
Due: none

fix(config): reject a legacy boolean that contradicts an explicit mode
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/config/TestHoodieWriteConfigMetaFieldsMode.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/TestHoodieTableMetaClient.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestMetaFieldsModeE2E.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/StreamSync.java
Due: hudicommon, hudiutilities

test(streamer): cover the restart that states the deprecated boolean
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieStreamerMetaFieldsMode.java
Due: none

[Draft WIP] feat(flink): Support reading and materializing OOL BLOB columns
  hudi-common/src/main/java/org/apache/hudi/common/blob/BlobRangeReader.java
  hudi-common/src/main/java/org/apache/hudi/common/blob/BlobReadRequest.java
  hudi-common/src/test/java/org/apache/hudi/common/blob/TestBlobRangeReader.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/source/BlobMaterializingIterator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/source/reader/function/HoodieSplitReaderFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSource.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/cow/CopyOnWriteInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadInputFormat.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/source/TestBlobMaterializingIterator.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestBlobWrite.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/format/cow/TestCopyOnWriteInputFormat.java
Due: hudicommon

test(spark): create the fixture table with the meta-field setting it writes with
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestHoodieSparkSqlWriter.scala
Due: none

test(spark): apply the same fixture fix to the TestFormat variant
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestHoodieSparkSqlWriterWithTestFormat.scala
Due: none

fix(bootstrap): pass a null legacy boolean when the caller did not state one
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/BootstrapExecutorUtils.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/BootstrapExecutor.java
Due: hudiutilities

fix(cli): apply the one-way meta-fields rule to set-meta-fields-mode
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/TableCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestTableCommand.java
Due: hudicli

feat(cli): add table set-meta-fields-mode command
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/TableCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestTableCommand.java
Due: hudicli

docs(cli): clarify that --force permits narrowing only
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/TableCommand.java
Due: hudicli

test(cli): pin the full meta-fields-mode migration matrix
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestTableCommand.java
Due: none

fix(config): resolve meta-fields mode at sites that still read the deprecated boolean
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/index/partitionstats/PartitionStatsIndexer.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/utils/SparkMetadataWriterUtils.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/utils/SparkValidatorUtils.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/HoodieSparkFileWriterFactory.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/storage/hadoop/HoodieAvroFileWriterFactory.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/TestHoodieTableConfigMetaFieldsMode.java
  hudi-spark-datasource/hudi-spark-common/src/main/java/org/apache/hudi/commit/BaseDatasetBulkInsertCommitActionExecutor.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/AutoRecordKeyGenerationUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DataSourceOptions.scala
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/BootstrapExecutorUtils.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/BootstrapExecutor.java
Due: hudiutilities

fix(cdc): cast to GenericRecord in PostgresDebeziumAvroPayload toasted-value checks
  hudi-common/src/main/java/org/apache/hudi/common/model/debezium/PostgresDebeziumAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/model/debezium/TestPostgresDebeziumAvroPayload.java
Due: hudicommon

fix(core): stop forcing the timeline history folder onto pre-v8 tables
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/BootstrapExecutorUtils.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/BootstrapExecutor.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/StreamSync.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/streamer/TestStreamSync.java
Due: hudiutilities

fix(core): gate the timeline path configs on the table version
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableConfig.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/TestHoodieTableConfig.java
Due: hudicommon

fix(spark): read filter-referenced columns the projection omits
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/HoodieFileGroupReaderBasedFileFormat.scala
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestIncrementalQueryProjection.java
Due: none

docs(sql-ddl): partition columns must be declared last in CREATE TABLE (#19555)
  website/docs/sql_ddl.md
  website/versioned_docs/version-1.0.0/sql_ddl.md
  website/versioned_docs/version-1.0.1/sql_ddl.md
  website/versioned_docs/version-1.0.2/sql_ddl.md
  website/versioned_docs/version-1.1.1/sql_ddl.md
  website/versioned_docs/version-1.2.0/sql_ddl.md
Due: none
