Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

hoodie.logfile.max.size It does not take effect, causing the log file to be too large
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieLogFormatWriter.java
Due: hudicommon

[HUDI-4694] Print testcase running time for CI jobs (#6586)
  azure-pipelines.yml
Due: none

fixed bucket id
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/BucketIdentifier.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/ConsistentBucketIdentifier.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/HoodieBucketIndex.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/index/bucket/TestBucketIdentifier.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/commit/SparkBucketIndexPartitioner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/index/bucket/TestHoodieSimpleBucketIndex.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bucket/BucketBulkInsertWriterHelper.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bucket/BucketStreamWriteFunction.java
Due: none

[RFC] Claim RFC-62 for Diagnostic Reporter (#6599)
  rfc/README.md
Due: none

[minor] following HUDI-4739, fix the extraction for simple record keys (#6594)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/TestKeyGenUtils.java
Due: none

[HUDI-4675] add unittest for RebalancedSparkHoodieHBaseIndex
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieHBaseIndexConfig.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/index/hbase/RebalancedSparkHoodieHBaseIndex.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/index/hbase/TestRebalancedSparkHoodieHBaseIndex.java
Due: none

[HUDI-4675] minor update
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/index/hbase/TestRebalancedSparkHoodieHBaseIndex.java
Due: none

removed redundant brace
  hudi-cli/src/main/scala/org/apache/hudi/cli/DedupeSparkJob.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/HoodieSqlCommonUtils.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/DedupeSparkJob.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/RunClusteringProcedure.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/ValidateHoodieSyncProcedure.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/avro/AvroDeserializer.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/avro/AvroSerializer.scala
Due: hudicli

[HUDI-4634] Update schema provider configuration in MTDS blog (#6420)
  website/blog/2020-08-22-ingest-multiple-tables-using-hudi.md
Due: none

[HUDI-4636] Output preCombine and partition fields of delete records when changelog disabled
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadInputFormat.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadTableState.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/format/TestInputFormat.java
Due: none

[HUDI-4619] Add a remote request retry mechanism for 'Remotehoodietablefilesystemview'. (#6393)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/embedded/EmbeddedTimelineService.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/FileSystemViewManager.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/FileSystemViewStorageConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/RemoteHoodieTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/util/RetryHelper.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-timeline-service/src/test/java/org/apache/hudi/timeline/service/functional/TestRemoteHoodieTableFileSystemView.java
Due: hudicommon

[HUDI-4786][DOCS] Add Flink DataStream API demo in Flink Guide (#6582)
  website/docs/flink-quick-start-guide.md
  website/versioned_docs/version-0.12.0/flink-quick-start-guide.md
Due: none

use CountDownLatch for ut
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieBackedTableMetadata.java
Due: none

[HUDI-4752] Add dedup support for MOR table in cli
  hudi-cli/src/main/scala/org/apache/hudi/cli/DedupeSparkJob.scala
Due: hudicli

add docker
  .github/workflows/bot.yml
  hudi-metaserver/bin/compile_thrift_by_docker.sh
Due: none

add docker
  .github/workflows/bot.yml
Due: none

add docker
  hudi-metaserver/bin/compile_thrift_by_docker.sh
Due: none

add docker
  hudi-metaserver/bin/compile_thrift_by_docker.sh
  hudi-metaserver/pom.xml
Due: none

A more effective HoodieMergeHandler for COW table with parquet
  rfc/rfc-58/1.jpg
  rfc/rfc-58/2.jpg
  rfc/rfc-58/3.jpg
  rfc/rfc-58/4.jpg
  rfc/rfc-58/rfc-58.md
Due: none

Handle delete operation and fix test
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieStreamingSink.scala
  hudi-spark-datasource/hudi-spark/src/test/java/HoodieJavaStreamingApp.java
Due: none

Walk back previous commits until checkpoint is found
  hudi-common/src/main/java/org/apache/hudi/common/util/CommitUtils.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieStreamingSink.scala
Due: hudicommon

Support checkpoint and idempotent writes in HoodieStreamingSink
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieStreamingSink.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestStructuredStreaming.scala
  style/scalastyle.xml
Due: none

[HUDI-4635] Update 2022 H2 roadmap
  website/src/pages/roadmap.md
Due: none

[HUDI-4720] Fix HoodieInternalRow return wrong num of fields when source not contains meta fields (#6500)
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/model/HoodieInternalRow.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/model/TestHoodieInternalRow.java
Due: none

[doc] update flink option 'read_tasks' description
  website/docs/configurations.md
Due: none

[doc] update flink option 'write_tasks' description
  website/docs/configurations.md
Due: none

first try at fixing
  hudi-examples/hudi-examples-spark/src/main/java/org/apache/hudi/examples/quickstart/HoodieSparkQuickstart.java
Due: none

[HUDI-4389] Make HoodieStreamingSink idempotent (#6098)
  hudi-common/src/main/java/org/apache/hudi/common/util/CommitUtils.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieStreamingSink.scala
  hudi-spark-datasource/hudi-spark/src/test/java/HoodieJavaStreamingApp.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestStructuredStreaming.scala
  style/scalastyle.xml
Due: hudicommon
