Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

test: handle expected OCC conflict in concurrent Java writer test (#19124)
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/client/common/TestMultipleHoodieJavaWriteClient.java
Due: none

refactor(hadoop-mr): use SLF4J parameterized logging instead of string concatenation (#19157)
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/BootstrapColumnStichingRecordReader.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HoodieCopyOnWriteTableInputFormat.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HoodieParquetInputFormat.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/InputPathHandler.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/hive/HoodieCombineHiveInputFormat.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/AbstractRealtimeRecordReader.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/HoodieHFileRealtimeInputFormat.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/HoodieParquetRealtimeInputFormat.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/HoodieRealtimeRecordReader.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/RealtimeCompactedRecordReader.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/utils/HoodieHiveUtils.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/utils/HoodieRealtimeInputFormatUtils.java
Due: hudihadoopmr

refactor(flink): use SLF4J parameterized logging instead of string concatenation (#19156)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/OptionsInference.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bucket/BucketBulkInsertWriterHelper.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/bulk/BulkInsertWriterHelper.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/ClusteringCommitSink.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/ClusteringPlanOperator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/HoodieFlinkClusteringJob.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/compact/HoodieFlinkCompactor.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/BucketAssigner.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/v2/clustering/ClusteringCommitSinkV2.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/v2/compact/CompactionCommitSinkV2.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/source/IncrementalInputSplits.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSource.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/lookup/HoodieLookupFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/ClientIds.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/ClusteringUtil.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/CompactionUtil.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/ViewStorageProperties.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/BaseVectorizedColumnReader.java
  hudi-flink-datasource/hudi-flink1.19.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/BaseVectorizedColumnReader.java
  hudi-flink-datasource/hudi-flink1.20.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/BaseVectorizedColumnReader.java
  hudi-flink-datasource/hudi-flink2.0.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/BaseVectorizedColumnReader.java
  hudi-flink-datasource/hudi-flink2.1.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/BaseVectorizedColumnReader.java
Due: none

refactor(hadoop-common): use SLF4J parameterized logging instead of string concatenation (#19160)
  hudi-hadoop-common/src/main/java/org/apache/hudi/common/config/DFSPropertiesConfiguration.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/io/storage/hadoop/HoodieAvroHFileWriter.java
  hudi-hadoop-common/src/main/java/org/apache/hudi/parquet/io/HoodieParquetFileBinaryCopier.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/view/TestHoodieTableFileSystemView.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/view/TestIncrementalFSViewSync.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/testutils/minicluster/HdfsTestService.java
Due: none

refactor(common): use SLF4J parameterized logging instead of string concatenation (#19158)
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieCommitMetadata.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/TimelineUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/RocksDbBasedFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/util/ConfigUtils.java
  hudi-common/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java
  hudi-common/src/main/java/org/apache/hudi/metrics/MetricsReporterFactory.java
  hudi-common/src/test/java/org/apache/hudi/TestReportJvmConfiguration.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/minicluster/ZookeeperTestService.java
Due: hudicommon

fix(spark): correct self-recursive equals in ProcedureParameterImpl (#19167)
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/ProcedureParameterImpl.scala
Due: none

refactor(cli): use SLF4J parameterized logging instead of string concatenation (#19159)
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/CompactionCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/ExportCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/LockAuditingCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/MetadataCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/RepairsCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/TableCommand.java
Due: hudicli

test(spark): add streaming source and writer support coverage (#19166)
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestStreamingSource.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestStructuredStreaming.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/feature/TestDataSkippingQuery.scala
Due: none

refactor(aws): use SLF4J parameterized logging instead of string concatenation (#19186)
  hudi-aws/src/main/java/org/apache/hudi/aws/sync/AWSGlueCatalogSyncClient.java
  hudi-aws/src/main/java/org/apache/hudi/aws/utils/DynamoTableUtils.java
Due: none

refactor(utilities): use SLF4J parameterized logging instead of string concatenation (#19185)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieDataTableValidator.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/DFSPathSelector.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/S3EventsMetaSelector.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieSnapshotExporter.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/offlinejob/HoodieOfflineJobTestBase.java
Due: hudiutilities

refactor(examples): use SLF4J parameterized logging instead of string concatenation (#19187)
  hudi-examples/hudi-examples-spark/src/main/java/org/apache/hudi/examples/spark/HoodieWriteClientExample.java
Due: none

refactor(spark): use SLF4J parameterized logging instead of string concatenation (#19184)
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/client/TestHoodieClientMultiWriter.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/client/functional/TestDataValidationCheckForLogCompactionActions.java
Due: none

fix(spark): make export_instants desc ordering work (#19172)
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/ExportInstantsProcedure.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestExportInstantsProcedure.scala
Due: none

refactor(sync): use SLF4J parameterized logging instead of string concatenation (#19189)
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HiveSyncTool.java
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/ddl/QueryBasedDDLExecutor.java
Due: none

refactor(io): use SLF4J parameterized logging instead of string concatenation (#19188)
  hudi-io/src/main/java/org/apache/hudi/common/metrics/Registry.java
  hudi-io/src/main/java/org/apache/hudi/common/util/ReflectionUtils.java
Due: none

test(trino): de-flake testRecordLevelFileSkipping by setting the record-index wait timeout (#19213)
  hudi-trino-plugin/src/test/java/io/trino/plugin/hudi/TestHudiSmokeTest.java
Due: none

fix(flink): avoid AIOOBE in NestedColumnReader across the read batch boundary (#19210)
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
  hudi-flink-datasource/hudi-flink1.18.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/NestedColumnReader.java
  hudi-flink-datasource/hudi-flink1.19.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/NestedColumnReader.java
  hudi-flink-datasource/hudi-flink1.20.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/NestedColumnReader.java
  hudi-flink-datasource/hudi-flink2.0.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/NestedColumnReader.java
  hudi-flink-datasource/hudi-flink2.1.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/NestedColumnReader.java
Due: none

chore(ci): stop requiring the per-job CI contexts on master
  .asf.yaml
Due: none

chore(ci): require validate-ci-baseline alongside the per-job context reset
  .asf.yaml
Due: none

chore(ci): stop requiring GitHub checks on master to unblock PRs (#19523)
  .asf.yaml
Due: none

chore(ci): trim the CI matrix and reset required checks to unblock PRs
  .github/workflows/README.md
  .github/workflows/bot.yml
  .github/workflows/hudi_trino_ci.yml
  hudi-integ-test/pom.xml
Due: none

Shorten the CI-TRIM comments to a single marker line
  .github/workflows/bot.yml
Due: none

fix(spark): fetch schema from HMS when it is not found in FileSystem
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieBaseRelation.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/ddl/TestCreateTable.scala
Due: none

fix(index): persist canonical vector routing geometry
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/index/vector/VectorIndexer.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/SparkVectorIndexBootstrap.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/SparkVectorIndexUpdater.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/index/SparkIndexerSupport.java
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/spark/index/vector/TwoLevelKMeansBootstrap.scala
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/metadata/TestSparkVectorIndexUpdater.java
  hudi-common/src/main/avro/HoodieMetadata.avsc
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataPayload.java
  hudi-common/src/main/java/org/apache/hudi/metadata/MetadataPartitionType.java
  hudi-common/src/test/java/org/apache/hudi/metadata/TestVectorIndexMetadataPayload.java
Due: hudicommon

refactor(index): centralize vector routing artifacts
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/SparkVectorIndexBootstrap.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/VectorRoutingArtifacts.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/index/SparkIndexerSupport.java
Due: none

chore(ci): trim the CI matrix and reset required checks to unblock PRs (#19514)
  .github/workflows/README.md
  .github/workflows/bot.yml
  .github/workflows/hudi_trino_ci.yml
  hudi-integ-test/pom.xml
Due: none

Guard against an Avro fixed size smaller than the precision-minimal decimal width
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowParquetWriteSupport.java
Due: none

feat(index): compute verified vector marker frontier
  hudi-common/src/main/java/org/apache/hudi/metadata/VectorIndexFrontier.java
  hudi-common/src/test/java/org/apache/hudi/metadata/TestVectorIndexFrontier.java
Due: hudicommon

test: add unit test coverage for secondary index, expression, and bloom filter classes in hudi-common
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestInternalDynamicBloomFilter.java
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestKey.java
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestSimpleBloomFilter.java
  hudi-common/src/test/java/org/apache/hudi/common/expression/TestBindVisitor.java
  hudi-common/src/test/java/org/apache/hudi/common/expression/TestPartialBindVisitor.java
  hudi-common/src/test/java/org/apache/hudi/common/expression/TestPredicates.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestHoodieSecondaryIndex.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexManager.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexType.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexUtils.java
Due: none

test: apply self-review cleanup to secondary index and bloom filter tests
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestSimpleBloomFilter.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/SecondaryIndexTestUtils.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestHoodieSecondaryIndex.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexManager.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexManagerSingleton.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexUtils.java
Due: none

feat(index): gate vector plans on verified freshness
  hudi-common/src/main/java/org/apache/hudi/common/index/vector/VectorIndexFreshness.java
  hudi-common/src/test/java/org/apache/hudi/common/index/vector/TestVectorIndexFreshness.java
Due: hudicommon

test: follow the SecondaryIndexUtils -> SecondaryIndexDefinitionUtils rename
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexDefinitionUtils.java
Due: none

test: address review feedback on secondary index and bloom filter tests
  hudi-common/src/test/java/org/apache/hudi/common/bloom/BloomSerDeTestUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestInternalBloomFilter.java
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestInternalDynamicBloomFilter.java
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestKey.java
  hudi-common/src/test/java/org/apache/hudi/common/bloom/TestSimpleBloomFilter.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestHoodieSecondaryIndex.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexManager.java
  hudi-common/src/test/java/org/apache/hudi/core/index/secondary/TestSecondaryIndexManagerSingleton.java
Due: none

refactor(index): reuse metadata indexing catchup state
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/SparkVectorIndexBootstrap.java
  hudi-common/src/main/avro/HoodieMetadata.avsc
  hudi-common/src/main/java/org/apache/hudi/common/index/vector/VectorIndexFreshness.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataPayload.java
  hudi-common/src/main/java/org/apache/hudi/metadata/VectorIndexFrontier.java
  hudi-common/src/test/java/org/apache/hudi/common/index/vector/TestVectorIndexFreshness.java
  hudi-common/src/test/java/org/apache/hudi/metadata/TestVectorIndexFrontier.java
  hudi-common/src/test/java/org/apache/hudi/metadata/TestVectorIndexMetadataPayload.java
Due: hudicommon

Unit-test decimalFixedLen directly for hudi-spark-client coverage
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowParquetWriteSupport.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/storage/row/TestHoodieRowParquetWriteSupport.java
Due: none

Extract decimal sign-extension padding into a testable static helper
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowParquetWriteSupport.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/storage/row/TestHoodieRowParquetWriteSupport.java
Due: none

fix(flink): close lookup reader after cache reload attempts
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/lookup/HoodieLookupFunction.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/lookup/HoodieLookupTableReader.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/lookup/TestHoodieLookupFunction.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/lookup/TestHoodieLookupTableReader.java
Due: none

Trim redundant Javadocs on the decimal helpers
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowParquetWriteSupport.java
Due: none

Rename decimalFixedLen to resolveDecimalByteLength and use assertFalse for the clustering check
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowParquetWriteSupport.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/storage/row/TestHoodieRowParquetWriteSupport.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableCompaction.java
Due: none
