Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

FindBugs dependency added back for missing Immutable Annotation.
  hudi-metrics-common/pom.xml
Due: none

[HUDI-3450] Avoid passing empty string spark master to hudi cli (#4844)
  hudi-cli/src/main/java/org/apache/hudi/cli/utils/SparkUtil.java
  hudi-cli/src/test/java/org/apache/hudi/cli/testutils/SparkUtilTest.java
Due: hudicli

[HUDI-3528] Fix String convert issue and overwrite putAll method in TypedProperties.java (#4920)
  hudi-common/src/main/java/org/apache/hudi/common/config/TypedProperties.java
  hudi-common/src/test/java/org/apache/hudi/common/properties/TestTypedProperties.java
Due: hudicommon

[HUDI-3521] Fixing kakfa key and value serializer value type from class to string (#4919)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/AvroKafkaSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/JsonKafkaSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/debezium/DebeziumSource.java
Due: hudiutilities

Move CloudWatchMetricsReporter to hudi-aws
  hudi-aws/pom.xml
  hudi-aws/src/main/java/org/apache/hudi/aws/cloudwatch/CloudWatchMetricsReporter.java
  hudi-aws/src/test/java/org/apache/hudi/aws/cloudwatch/TestCloudWatchMetricsReporter.java
  hudi-client/hudi-client-common/pom.xml
  hudi-metrics-common/pom.xml
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/ConsoleMetricsReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/InMemoryMetricsReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/MetricsReporterFactory.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/config/HoodieMetricsCloudWatchConfig.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/config/HoodieMetricsConfig.java
Due: none

Adding new hud-metrics-common module to packaging for spark/flink, comment out relocating codahale metrics classes
  packaging/hudi-flink-bundle/pom.xml
  packaging/hudi-spark-bundle/pom.xml
Due: none

Wrap MetricsRegistry with HoodieMetricsRegistry to avoid issues with reflection and relocation of codahale clases during packaging
  hudi-aws/src/main/java/org/apache/hudi/aws/cloudwatch/CloudWatchMetricsReporter.java
  hudi-aws/src/test/java/org/apache/hudi/aws/cloudwatch/TestCloudWatchMetricsReporter.java
  hudi-metrics-common/pom.xml
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/ConsoleMetricsReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/HoodieMetricRegistry.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/InMemoryMetricsReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/Metrics.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/MetricsReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/MetricsReporterFactory.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/custom/CustomizableMetricsReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/datadog/DatadogMetricsReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/prometheus/PrometheusReporter.java
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/prometheus/PushGatewayMetricsReporter.java
  hudi-metrics-common/src/test/java/org/apache/hudi/metrics/TestMetricsReporterFactory.java
  hudi-metrics-common/src/test/java/org/apache/hudi/metrics/datadog/TestDatadogMetricsReporter.java
  packaging/hudi-flink-bundle/pom.xml
  packaging/hudi-spark-bundle/pom.xml
Due: none

Adding hudi-metrics-common to packaging pom.xml files for runtime needs
  packaging/hudi-flink-bundle/pom.xml
  packaging/hudi-hadoop-mr-bundle/pom.xml
  packaging/hudi-integ-test-bundle/pom.xml
  packaging/hudi-kafka-connect-bundle/pom.xml
  packaging/hudi-spark-bundle/pom.xml
  packaging/hudi-utilities-bundle/pom.xml
Due: none

TestMetricReporterFactory test fixes
  hudi-metrics-common/src/test/java/org/apache/hudi/metrics/TestMetricsReporterFactory.java
Due: none

Add test coverage to MetricsReportFactory
  hudi-metrics-common/src/main/java/org/apache/hudi/metrics/MetricsReporterFactory.java
  hudi-metrics-common/src/test/java/org/apache/hudi/metrics/TestMetricsReporterFactory.java
Due: none

[MINOR][HUDI-3460]Fix HoodieDataSourceITCase
  hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink/src/main/java/org/apache/hudi/sink/compact/FlinkCompactionConfig.java
  hudi-flink/src/main/java/org/apache/hudi/streamer/FlinkStreamerConfig.java
Due: none

[HUDI-3530] Update spark bundle version format
  pom.xml
Due: none

[HUDI-3088] Use Spark 3.2 as default Spark version
  azure-pipelines.yml
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/io/storage/TestHoodieOrcReaderWriter.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/storage/row/parquet/TestParquetSchemaConverter.java
  hudi-client/hudi-spark-client/pom.xml
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/index/hbase/TestSparkHoodieHBaseIndex.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieClientTestHarness.java
  hudi-common/pom.xml
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/model/debezium/AbstractDebeziumAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/avro/TestHoodieAvroUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/functional/TestHoodieLogFormat.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestOverwriteNonDefaultsWithLatestAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/minicluster/HdfsTestService.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/minicluster/ZookeeperTestService.java
  hudi-examples/pom.xml
  hudi-hadoop-mr/pom.xml
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/utils/HoodieRealtimeRecordReaderUtils.java
  hudi-spark-datasource/hudi-spark/pom.xml
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestOrcBootstrap.java
  hudi-spark-datasource/hudi-spark2-common/pom.xml
  hudi-spark-datasource/hudi-spark3-common/pom.xml
  hudi-spark-datasource/hudi-spark3.1.x/pom.xml
  hudi-spark-datasource/hudi-spark3/pom.xml
  hudi-spark-datasource/hudi-spark3/src/test/java/org/apache/hudi/spark3/internal/TestReflectUtil.java
  hudi-sync/hudi-hive-sync/pom.xml
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/testutils/HiveTestUtil.java
  hudi-utilities/pom.xml
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestHoodieIncrSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestJsonKafkaSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/helpers/TestKafkaOffsetGen.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/testutils/UtilitiesTestBase.java
  packaging/hudi-integ-test-bundle/pom.xml
  packaging/hudi-presto-bundle/pom.xml
  packaging/hudi-spark-bundle/pom.xml
  packaging/hudi-utilities-bundle/pom.xml
  pom.xml
Due: hudicommon, hudihadoopmr

Fix pom.xml and revert avro versions
  azure-pipelines.yml
  hudi-common/pom.xml
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-examples/pom.xml
  hudi-hadoop-mr/pom.xml
  hudi-spark-datasource/hudi-spark/pom.xml
  hudi-utilities/pom.xml
  packaging/hudi-presto-bundle/pom.xml
  pom.xml
Due: hudicommon

[HUDI-3520] Introduce DeleteSupportSchemaPostProcessor to support adding _hoodie_is_deleted column to schema (#4921)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/DeleteSupportSchemaPostProcessor.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/SparkAvroPostProcessor.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/DummySchemaProvider.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/SparkAvroSchemaProvider.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestSchemaPostProcessor.java
Due: hudiutilities

[HUDI-3525] Introduce JsonkafkaSourceProcessor to support data preprocess before it is transformed to DataSet (#4930)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/UtilHelpers.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/exception/HoodieSourcePostProcessException.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/JsonKafkaSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/KafkaOffsetGen.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/processor/JsonKafkaSourcePostProcessor.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestJsonKafkaSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestJsonKafkaSourcePostProcessor.java
Due: hudiutilities

support set --sparkMaster for MDT cli
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/MetadataCommand.java
Due: hudicli

change add_thread_factory description
  hudi-common/src/main/java/org/apache/hudi/common/util/CustomizedThreadFactory.java
Due: hudicommon

Make context transient
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/common/HoodieSparkEngineContext.java
Due: none

fixing build issue
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
Due: hudicommon

Fixing merge handle
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieWriteHandle.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableConfig.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark2/src/main/java/org/apache/hudi/internal/DefaultSource.java
  hudi-spark-datasource/hudi-spark3-common/src/main/java/org/apache/hudi/spark3/internal/DefaultSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/DeltaSync.java
Due: hudicommon, hudiutilities

Fixing preserve commit metadata for metadata table
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
Due: none

fixed bootstrap tests
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestBootstrap.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestOrcBootstrap.java
Due: none

Making commit preserve metadata to true
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieCompactionConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
Due: none

temp diff
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieRecord.java
Due: hudicommon

renaming fallback record
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieWriteHandle.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
Due: hudicommon

Fixing integ tests
  hudi-spark-datasource/hudi-spark/src/test/java/HoodieJavaStreamingApp.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestMORDataSource.scala
Due: none

Fixing test failures
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
Due: hudicommon

[HUDI-3069] Improve HoodieMergedLogRecordScanner avoid putting unnecessary hoodie records (#4932)
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordScanner.java
Due: hudicommon

[HUDI-3573] flink cleanFuntion execute clean on initialization
  hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink/src/main/java/org/apache/hudi/sink/CleanFunction.java
  hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSink.java
Due: none

modify
  hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink/src/main/java/org/apache/hudi/sink/CleanFunction.java
  hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSink.java
Due: none

[HUDI-3568] Introduce ChainedSchemaPostProcessor to support setting multi processors at once
  hudi-utilities/src/main/java/org/apache/hudi/utilities/UtilHelpers.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/exception/HoodieSchemaPostProcessException.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/ChainedSchemaPostProcessor.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/DummySchemaPostProcessor.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestSchemaPostProcessor.java
Due: hudiutilities

[HUDI-3213] Making commit preserve metadata to true for compaction (#4811)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieCompactionConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieWriteHandle.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieRecord.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableConfig.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/test/java/HoodieJavaStreamingApp.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestBootstrap.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestOrcBootstrap.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestMORDataSource.scala
  hudi-spark-datasource/hudi-spark2/src/main/java/org/apache/hudi/internal/DefaultSource.java
  hudi-spark-datasource/hudi-spark3-common/src/main/java/org/apache/hudi/spark3/internal/DefaultSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/DeltaSync.java
Due: hudicommon, hudiutilities

[HUDI-3574] Improve maven module configs for different spark profiles
  pom.xml
Due: none

add bot.yml
  .github/workflows/bot.yml
Due: none

test cases fix
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/TestCleaner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestCleanPlanExecutor.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/HoodieTestTable.java
Due: none

change azure-pipelines.yml
  azure-pipelines.yml
Due: none

test case fix
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/TestCleaner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestCleanPlanExecutor.java
Due: none

Configuring timeline refreshes based on latest commit
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/embedded/EmbeddedTimelineService.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-timeline-service/src/main/java/org/apache/hudi/timeline/service/RequestHandler.java
  hudi-timeline-service/src/main/java/org/apache/hudi/timeline/service/TimelineService.java
Due: huditimelineservice
