Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

test(trino): de-flake TestHudi*FileOperations by disabling async table statistics (#18995)
  hudi-trino-plugin/src/test/java/io/trino/plugin/hudi/TestHudiAlluxioCacheFileOperations.java
  hudi-trino-plugin/src/test/java/io/trino/plugin/hudi/TestHudiMemoryCacheFileOperations.java
  hudi-trino-plugin/src/test/java/io/trino/plugin/hudi/TestHudiNoCacheFileOperations.java
Due: none

review: address nit
  hudi-common/src/main/java/org/apache/hudi/metadata/MetadataPartitionType.java
Due: hudicommon

perf(metadata): Resolve column-stats field schemas once per collection instead of per record
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadataUtil.java
Due: hudicommon

perf(io): Derive log file size from AppendResult on append-handle close
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieAppendHandle.java
Due: none

fix parquet record size estimation
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/profile/DeltaWriteProfile.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/profile/WriteProfile.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/partitioner/TestBucketAssigner.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestDynamicBucketStreamWrite.java
Due: none

docs: Claim RFC-107 Dynamic Partitioned Cache for Flink upsert
  rfc/README.md
Due: none

review: Validate derived log file size matches on-disk length
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/common/table/log/TestLogReaderUtils.java
Due: none

perf(metadata): Avoid per-record enum-array clone and string parse when materializing MDT records (#18997)
  hudi-common/src/main/java/org/apache/hudi/metadata/MetadataPartitionType.java
  hudi-common/src/test/java/org/apache/hudi/metadata/TestHoodieTableMetadataUtil.java
Due: hudicommon

review: Keep explicit TimelineDiffResult.toString to preserve log format
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/TimelineDiffHelper.java
Due: hudicommon

[MINOR] Disable codecov-commenter PR comment (comment: false) (#18994)
  .codecov.yml
Due: none

test(trino): de-flake TestHudi*FileOperations by asserting only synchronous reads
  hudi-trino-plugin/src/test/java/io/trino/plugin/hudi/TestHudiAlluxioCacheFileOperations.java
  hudi-trino-plugin/src/test/java/io/trino/plugin/hudi/TestHudiMemoryCacheFileOperations.java
  hudi-trino-plugin/src/test/java/io/trino/plugin/hudi/TestHudiNoCacheFileOperations.java
Due: none

fix(test): correct scalastyle import order in TestSparkCatalogCacheRefresh
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSparkCatalogCacheRefresh.scala
Due: none

fix(spark): runtime-merge full file groups for MOR incremental queries (#18943)
  hudi-common/src/main/java/org/apache/hudi/common/engine/HoodieReaderContext.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/MergeOnReadIncrementalRelationV2.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/HoodieFileGroupReaderBasedFileFormat.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/dml/others/TestPartialUpdateForMergeInto.scala
Due: hudicommon

test(trino): cover Alluxio cache hits with a count-independent assertion
  hudi-trino-plugin/src/test/java/io/trino/plugin/hudi/TestHudiAlluxioCacheFileOperations.java
Due: none

[HUDI-18980] Propagate merge configs to file group reader during clustering
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/strategy/ClusteringExecutionStrategy.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestClusteringWithCustomMerger.java
Due: none

review: Preserve @Deprecated on generated no-arg ArchivedTimelineV1 constructor
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/versioning/v1/ArchivedTimelineV1.java
Due: hudicommon

[MINOR] Cap UT_FT_10 Azure install to -T 2 to avoid flaky compiler heap OOM
  azure-pipelines-20230430.yml
Due: none

docs(blog): community sync blog penn interactive
  .github/scripts/validate-blog.py
  website/blog/2026-06-15-apache-hudi-at-penn-interactive.mdx
  website/static/assets/images/blog/2026-06-15-penn-interactive/img1.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img2.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img3.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img4.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img5.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img6.png
Due: none

docs(blog): community sync blog penn interactive (#19009)
  .github/scripts/validate-blog.py
  website/blog/2026-06-15-apache-hudi-at-penn-interactive.mdx
  website/static/assets/images/blog/2026-06-15-penn-interactive/img1.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img2.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img3.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img4.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img5.png
  website/static/assets/images/blog/2026-06-15-penn-interactive/img6.png
Due: none

test(spark): cover row-writer clustering path in TestClusteringWithCustomMerger
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestClusteringWithCustomMerger.java
Due: none

docs(blog): community sync blog southwest airlines
  .github/scripts/validate-blog.py
  website/blog/2026-06-15-apache-hudi-at-southwest-airlines.mdx
  website/static/assets/images/blog/2026-06-15-southwest-airlines/img1.png
  website/static/assets/images/blog/2026-06-15-southwest-airlines/img2.png
  website/static/assets/images/blog/2026-06-15-southwest-airlines/img3.png
  website/static/assets/images/blog/2026-06-15-southwest-airlines/img4.png
Due: none

docs(blog): community sync blog southwest airlines (#19010)
  .github/scripts/validate-blog.py
  website/blog/2026-06-15-apache-hudi-at-southwest-airlines.mdx
  website/static/assets/images/blog/2026-06-15-southwest-airlines/img1.png
  website/static/assets/images/blog/2026-06-15-southwest-airlines/img2.png
  website/static/assets/images/blog/2026-06-15-southwest-airlines/img3.png
  website/static/assets/images/blog/2026-06-15-southwest-airlines/img4.png
Due: none

docs(blog): community sync blog metica
  .github/scripts/validate-blog.py
  website/blog/2026-06-15-apache-hudi-at-metica.mdx
  website/static/assets/images/blog/2026-06-15-metica/img1.png
  website/static/assets/images/blog/2026-06-15-metica/img2.png
  website/static/assets/images/blog/2026-06-15-metica/img3.png
  website/static/assets/images/blog/2026-06-15-metica/img4.png
Due: none

docs(blog): community sync blog metica (#19011)
  .github/scripts/validate-blog.py
  website/blog/2026-06-15-apache-hudi-at-metica.mdx
  website/static/assets/images/blog/2026-06-15-metica/img1.png
  website/static/assets/images/blog/2026-06-15-metica/img2.png
  website/static/assets/images/blog/2026-06-15-metica/img3.png
  website/static/assets/images/blog/2026-06-15-metica/img4.png
Due: none

review: name local for appended bytes in append-handle close
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieAppendHandle.java
Due: none

review: parameterize append-size test over table version to exercise logOffset
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/common/table/log/TestLogReaderUtils.java
Due: none

fix: remove unused blobIdx/blobPhysical locals; hoist getNonNullType() call
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/util/RowDataToAvroConverters.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestBlobWrite.java
Due: none

feat(utilities): Migrate schema providers to HoodieSchema
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/FilebasedSchemaProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/HiveSchemaProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/SchemaRegistryProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/SimpleSchemaProvider.java
Due: hudiutilities

[HUDI-14281] Migrate utilities schema providers to HoodieSchema
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/JdbcbasedSchemaProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/ProtoClassBasedSchemaProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/SchemaProviderWithPostProcessor.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/schema/TestRowBasedSchemaProvider.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/schema/TestSimpleSchemaProvider.java
Due: hudiutilities

docs: Claim RFC-107 Dynamic Partitioned Cache for Flink upsert (#18998)
  rfc/README.md
Due: none

[MINOR] Add more tags to recent blog
  website/blog/2026-06-15-apache-hudi-at-metica.mdx
Due: none

[MINOR] Add more tags to recent blog (#19012)
  website/blog/2026-06-15-apache-hudi-at-metica.mdx
Due: none
