Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

[HUDI-6048] Check if partition exists before list partition by path prefix (#8402)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/SparkHoodieTableFileIndex.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestHoodieFileIndex.scala
Due: none

[HUDI-5990] Avoid missing data during incremental queries (#8299)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/MergeOnReadIncrementalRelation.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestParquetColumnProjection.scala
Due: none

[HUDI-6074] Check inlineClusteringEnabled in isAsyncClusteringEnabled (#8453)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
Due: none

[HUDI-6063] Modify logging errors In JDBCExecutor (#8434)
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/ddl/JDBCExecutor.java
Due: none

[HUDI-5991] Fix RDDCustomColumnsSortPartitioner's RepartitionRecords (#8300)
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/execution/bulkinsert/JavaCustomColumnsSortPartitioner.java
  hudi-client/hudi-java-client/src/test/java/org/apache/hudi/execution/bulkinsert/TestJavaBulkInsertInternalPartitioner.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/execution/bulkinsert/RDDCustomColumnsSortPartitioner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/bulkinsert/TestBulkInsertInternalPartitioner.java
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieAvroRecord.java
Due: hudicommon

[HUDI-6052] Standardise TIMESTAMP(6) format when writing to Parquet files (#8418)
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowDataParquetWriteSupport.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/storage/row/parquet/ParquetRowDataWriter.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/storage/row/parquet/ParquetSchemaConverter.java
  hudi-client/hudi-flink-client/src/test/java/org/apache/hudi/io/storage/row/parquet/TestParquetSchemaConverter.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/AvroSchemaConverter.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/AvroToRowDataConverters.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/cluster/ITTestHoodieFlinkClustering.java
  hudi-flink-datasource/hudi-flink1.13.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/Int64TimestampColumnReader.java
  hudi-flink-datasource/hudi-flink1.14.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/Int64TimestampColumnReader.java
  hudi-flink-datasource/hudi-flink1.15.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/Int64TimestampColumnReader.java
  hudi-flink-datasource/hudi-flink1.16.x/src/main/java/org/apache/hudi/table/format/cow/vector/reader/Int64TimestampColumnReader.java
Due: none

[HUDI-6073] Table create schema should not include metadata fields (#8450)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/catalyst/catalog/HoodieCatalogTable.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestCreateTable.scala
Due: none

[HUDI-6050] Fix write helper deduplicate records lost origin data operation (#8410)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieWriteHelper.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/JavaWriteHelper.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieClientOnCopyOnWriteStorage.java
Due: none

[HUDI-6080] Use hoodie.properties to determine if the table exists (#8462)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/utils/TestStreamerUtil.java
Due: none

[HUDI-6071] Flink Hive Catalog throws exception through SQL Client when table type contains smallint (#8449)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/ExpressionUtils.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/util/TestExpressionUtils.java
Due: none

[HUDI-6076] Fix the unit of clustering.plan.strategy.target.file.max.bytes for clustering (#8455)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/ClusteringOperator.java
Due: none

[HUDI-6033] Fix rounding exception when to decimal casting (#8380)
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/HoodieInternalRowUtils.scala
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestSpark3DDL.scala
Due: hudicommon

[HUDI-6009] Let the jetty server in TimelineService create daemon threads (#8335)
  hudi-timeline-service/src/main/java/org/apache/hudi/timeline/service/TimelineService.java
  hudi-timeline-service/src/test/java/org/apache/hudi/timeline/service/functional/TestRemoteHoodieTableFileSystemView.java
Due: huditimelineservice

[HUDI-6199] Fix deletes with custom payload implementation
  hudi-common/src/main/java/org/apache/hudi/common/model/AWSDmsAvroPayload.java
  hudi-common/src/main/java/org/apache/hudi/common/model/BaseAvroPayload.java
  hudi-common/src/main/java/org/apache/hudi/common/model/debezium/AbstractDebeziumAvroPayload.java
Due: hudicommon

Fix ExpressionPayload
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/payload/ExpressionPayload.scala
Due: none

Add tests
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/TestHoodieMergedReadHandle.java
  hudi-common/src/main/java/org/apache/hudi/common/model/debezium/AbstractDebeziumAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestAWSDmsAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/model/debezium/TestMySqlDebeziumAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/model/debezium/TestPostgresDebeziumAvroPayload.java
Due: hudicommon

[MINOR] Remove unused imports in Spark adapters
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/hudi/SparkAdapter.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/adapter/Spark2Adapter.scala
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/adapter/BaseSpark3Adapter.scala
Due: none

[HUDI-6209] Move test deps to tests-common
  hudi-aws/pom.xml
  hudi-cli/pom.xml
  hudi-client/hudi-client-common/pom.xml
  hudi-client/hudi-flink-client/pom.xml
  hudi-client/hudi-java-client/pom.xml
  hudi-client/hudi-spark-client/pom.xml
  hudi-common/pom.xml
  hudi-examples/hudi-examples-common/pom.xml
  hudi-examples/hudi-examples-flink/pom.xml
  hudi-examples/hudi-examples-java/pom.xml
  hudi-examples/hudi-examples-spark/pom.xml
  hudi-flink-datasource/hudi-flink/pom.xml
  hudi-flink-datasource/hudi-flink1.13.x/pom.xml
  hudi-flink-datasource/hudi-flink1.14.x/pom.xml
  hudi-flink-datasource/hudi-flink1.15.x/pom.xml
  hudi-flink-datasource/hudi-flink1.16.x/pom.xml
  hudi-flink-datasource/hudi-flink1.17.x/pom.xml
  hudi-gcp/pom.xml
  hudi-hadoop-mr/pom.xml
  hudi-integ-test/pom.xml
  hudi-kafka-connect/pom.xml
  hudi-platform-service/hudi-metaserver/pom.xml
  hudi-spark-datasource/hudi-spark-common/pom.xml
  hudi-spark-datasource/hudi-spark/pom.xml
  hudi-spark-datasource/hudi-spark2-common/pom.xml
  hudi-spark-datasource/hudi-spark2/pom.xml
  hudi-spark-datasource/hudi-spark3-common/pom.xml
  hudi-spark-datasource/hudi-spark3.1.x/pom.xml
  hudi-spark-datasource/hudi-spark3.2.x/pom.xml
  hudi-spark-datasource/hudi-spark3.2plus-common/pom.xml
  hudi-spark-datasource/hudi-spark3.3.x/pom.xml
  hudi-sync/hudi-adb-sync/pom.xml
  hudi-sync/hudi-datahub-sync/pom.xml
  hudi-sync/hudi-hive-sync/pom.xml
  hudi-sync/hudi-sync-common/pom.xml
  hudi-tests-common/pom.xml
  hudi-timeline-service/pom.xml
  hudi-utilities/pom.xml
  pom.xml
Due: none

revert version change
  pom.xml
Due: none

fix pom.xml
  pom.xml
Due: none

Optimizing schema validation in Metadata table
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/HoodieTimelineArchiver.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/HoodieTable.java
Due: none

enable more test cases and use static
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/TestHoodieMergedReadHandle.java
  hudi-common/src/main/java/org/apache/hudi/common/model/AWSDmsAvroPayload.java
  hudi-common/src/main/java/org/apache/hudi/common/model/debezium/AbstractDebeziumAvroPayload.java
Due: hudicommon

[MINOR] Remove unused imports in Spark adapters (#8707)
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/hudi/SparkAdapter.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/adapter/Spark2Adapter.scala
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/adapter/BaseSpark3Adapter.scala
Due: none

[HUDI-6209] Move test deps to tests-common (#8708)
  hudi-aws/pom.xml
  hudi-cli/pom.xml
  hudi-client/hudi-client-common/pom.xml
  hudi-client/hudi-flink-client/pom.xml
  hudi-client/hudi-java-client/pom.xml
  hudi-client/hudi-spark-client/pom.xml
  hudi-common/pom.xml
  hudi-examples/hudi-examples-common/pom.xml
  hudi-examples/hudi-examples-flink/pom.xml
  hudi-examples/hudi-examples-java/pom.xml
  hudi-examples/hudi-examples-spark/pom.xml
  hudi-flink-datasource/hudi-flink/pom.xml
  hudi-flink-datasource/hudi-flink1.13.x/pom.xml
  hudi-flink-datasource/hudi-flink1.14.x/pom.xml
  hudi-flink-datasource/hudi-flink1.15.x/pom.xml
  hudi-flink-datasource/hudi-flink1.16.x/pom.xml
  hudi-flink-datasource/hudi-flink1.17.x/pom.xml
  hudi-gcp/pom.xml
  hudi-hadoop-mr/pom.xml
  hudi-integ-test/pom.xml
  hudi-kafka-connect/pom.xml
  hudi-platform-service/hudi-metaserver/pom.xml
  hudi-spark-datasource/hudi-spark-common/pom.xml
  hudi-spark-datasource/hudi-spark/pom.xml
  hudi-spark-datasource/hudi-spark2-common/pom.xml
  hudi-spark-datasource/hudi-spark2/pom.xml
  hudi-spark-datasource/hudi-spark3-common/pom.xml
  hudi-spark-datasource/hudi-spark3.1.x/pom.xml
  hudi-spark-datasource/hudi-spark3.2.x/pom.xml
  hudi-spark-datasource/hudi-spark3.2plus-common/pom.xml
  hudi-spark-datasource/hudi-spark3.3.x/pom.xml
  hudi-sync/hudi-adb-sync/pom.xml
  hudi-sync/hudi-datahub-sync/pom.xml
  hudi-sync/hudi-hive-sync/pom.xml
  hudi-sync/hudi-sync-common/pom.xml
  hudi-tests-common/pom.xml
  hudi-timeline-service/pom.xml
  hudi-utilities/pom.xml
  pom.xml
Due: none

resolve conflict and common abstract && ready to test
  .github/workflows/bot.yml
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/SparkAdapterSupport.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/analysis/HoodieAnalysis.scala
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/HoodieSpark3CatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/adapter/BaseSpark3Adapter.scala
  hudi-spark-datasource/hudi-spark3.0.x/pom.xml
  hudi-spark-datasource/hudi-spark3.0.x/src/main/java/org/apache/spark/sql/execution/datasources/parquet/Spark30HoodieVectorizedParquetRecordReader.java
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/HoodieSpark30CatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/adapter/Spark3_0Adapter.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/avro/AvroDeserializer.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/avro/AvroSerializer.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/avro/HoodieSpark3_0AvroDeserializer.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/execution/datasources/Spark30NestedSchemaPruning.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/Spark30HoodieParquetFileFormat.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/hudi/Spark30ResolveHudiAlterTableCommand.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/parser/HoodieSpark30SqlAstBuilder.scala
  hudi-spark-datasource/hudi-spark3.0.x/src/main/scala/org/apache/spark/sql/parser/HoodieSpark3_0ExtendedSqlParser.scala
  hudi-spark-datasource/hudi-spark3.1.x/src/main/scala/org/apache/spark/sql/HoodieSpark31CatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark3.1.x/src/main/scala/org/apache/spark/sql/adapter/Spark3_1Adapter.scala
  hudi-spark-datasource/hudi-spark3.2.x/src/main/scala/org/apache/spark/sql/HoodieSpark32CatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark3.2.x/src/main/scala/org/apache/spark/sql/adapter/Spark3_2Adapter.scala
  hudi-spark-datasource/hudi-spark3.3.x/src/main/scala/org/apache/spark/sql/HoodieSpark33CatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark3.3.x/src/main/scala/org/apache/spark/sql/adapter/Spark3_3Adapter.scala
Due: none

code style
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/analysis/HoodieAnalysis.scala
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/HoodieSpark3CatalystExpressionUtils.scala
Due: none

[HUDI-3088] Use spark3.2 as default profile
  .github/workflows/bot.yml
  azure-pipelines-20230430.yml
  hudi-cli/pom.xml
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/io/storage/TestHoodieReaderWriterBase.java
  hudi-client/hudi-spark-client/pom.xml
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/execution/bulkinsert/TestBulkInsertInternalPartitionerForRows.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/index/hbase/TestSparkHoodieHBaseIndex.java
  hudi-common/pom.xml
  hudi-common/src/test/java/org/apache/hudi/common/testutils/minicluster/ZookeeperTestService.java
  hudi-hadoop-mr/pom.xml
  hudi-integ-test/pom.xml
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestParquetColumnProjection.scala
  hudi-spark-datasource/hudi-spark3-common/pom.xml
  hudi-spark-datasource/hudi-spark3-common/src/test/java/org/apache/hudi/spark3/internal/TestHoodieBulkInsertDataInternalWriter.java
  hudi-spark-datasource/hudi-spark3-common/src/test/java/org/apache/hudi/spark3/internal/TestHoodieDataSourceInternalBatchWrite.java
  hudi-spark-datasource/hudi-spark3-common/src/test/java/org/apache/hudi/spark3/internal/TestReflectUtil.java
  hudi-spark-datasource/hudi-spark3.2.x/pom.xml
  hudi-spark-datasource/hudi-spark3.2plus-common/pom.xml
  hudi-spark-datasource/hudi-spark3.3.x/pom.xml
  hudi-sync/hudi-hive-sync/pom.xml
  hudi-timeline-service/pom.xml
  hudi-utilities/pom.xml
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestHiveIncrementalPuller.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestJsonKafkaSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/helpers/TestKafkaOffsetGen.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/testutils/UtilitiesTestBase.java
  pom.xml
Due: none

update pom.xml
  hudi-spark-datasource/hudi-spark3.1.x/pom.xml
  hudi-spark-datasource/hudi-spark3.2plus-common/pom.xml
Due: none

code style
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/adapter/BaseSpark3Adapter.scala
Due: none

[HUDI-6210] Failed to add fields in BUCKET index table
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/command/AlterHoodieTableAddColumnsCommand.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestAlterTable.scala
Due: none

current state, able to get timeline files
  hudi-py/hoodie.py
  hudi-py/hoodieActiveTimeline.py
  hudi-py/hoodieFileGroup.py
  hudi-py/hoodieInstant.py
  hudi-py/hoodieTableMetaClient.py
  hudi-py/hoodieTimeline.py
  hudi-py/hoodie_timeline.py
Due: none

got rid of timeline changes because that should be in a different pr
  hudi-common/src/main/java/org/apache/hudi/common/table/view/HoodieTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/SpillableMapBasedFileSystemView.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestBootstrapRead.java
Due: hudicommon

Do not combine records if write operation is Upsert and COMBINE_BEFORE_UPSERT is disabled (#7998)
  hudi-common/src/main/java/org/apache/hudi/common/model/WriteOperationType.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestHoodieSparkSqlWriter.scala
Due: hudicommon

fixed some failing tests and added more context to exception
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/DeltaSync.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/deltastreamer/TestHoodieDeltaStreamer.java
Due: hudiutilities

fix scala 11 profile
  .github/workflows/bot.yml
Due: none

[HUDI-6015] Refresh the table after executing rollback to instantTime (#8352)
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/RollbackToInstantTimeProcedure.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/RollbackToSavepointProcedure.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/HoodieSparkProcedureTestBase.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestCallProcedure.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestSavepointsProcedure.scala
Due: none

[HUDI-5987] Fix clustering on bootstrap table with row writer disabled (#8342)
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/MultipleSparkJobExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/HoodieSparkBootstrapFileReader.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/HoodieSparkFileReaderFactory.java
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/HoodieSparkUtils.scala
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieAvroBootstrapFileReader.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieAvroFileReaderFactory.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieBootstrapFileReader.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieFileReaderFactory.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestDataSourceForBootstrap.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/procedure/TestBootstrapProcedure.scala
Due: hudicommon

[HUDI-6087] Fix flink streaming source savepoint instant (#8476)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/source/StreamReadMonitoringFunction.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/source/TestStreamReadMonitoringFunction.java
Due: none

[HUDI-5509] Check if dfs support atomic creation when using filesystem base lock provider (#7614)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/lock/FileSystemBasedLockProvider.java
  hudi-common/src/main/java/org/apache/hudi/common/config/HoodieCommonConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/fs/StorageSchemes.java
  hudi-common/src/test/java/org/apache/hudi/common/fs/TestStorageSchemes.java
Due: hudicommon

[HUDI-6108] Alter table should not include metadata fields in the data schema (#8510)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/command/AlterHoodieTableAddColumnsCommand.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestAlterTable.scala
Due: none
