Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

[ENG-11284][HUDI-8029] Enforce s3 base path format for partition key calculation (#846)
  hudi-aws/src/main/java/org/apache/hudi/aws/transaction/lock/DynamoDBBasedImplicitPartitionKeyLockProvider.java
  hudi-aws/src/test/java/org/apache/hudi/aws/transaction/integ/ITTestDynamoDBBasedLockProvider.java
  hudi-aws/src/test/java/org/apache/hudi/aws/utils/S3UtilsTest.java
Due: none

[HUDI-8033] Claiming RFC-81 for Log Compaction with Merge Sort
  rfc/README.md
Due: none

[MINOR] Support MOR table type for HoodieJavaWriteClientExample (#11700)
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-examples/hudi-examples-java/src/main/java/org/apache/hudi/examples/java/HoodieJavaWriteClientExample.java
Due: hudicommon

added blog for data lake cdc (#11707)
  website/blog/2024-07-30-data-lake-cdc.md
  website/static/assets/images/blog/data-lake-cdc/database-cdc.png
  website/static/assets/images/blog/data-lake-cdc/hudi-cdc.jpg
  website/static/assets/images/blog/data-lake-cdc/log-based-cdc.png
  website/static/assets/images/blog/data-lake-cdc/trigger-based-cdc.png
  website/static/assets/images/blog/data-lake-cdc/ts-based-cdc.png
Due: none

[ENG-12283][INTERNAL] Allow custom serialization and add hoodie file group estimator (#844)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieCDCLogger.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieFileGroup.java
  hudi-common/src/main/java/org/apache/hudi/common/serialization/CustomSerializer.java
  hudi-common/src/main/java/org/apache/hudi/common/serialization/DefaultSerializer.java
  hudi-common/src/main/java/org/apache/hudi/common/serialization/HoodieFileGroupSerializer.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordScanner.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/HoodieFileGroupSizeEstimator.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/RocksDbBasedFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/SpillableMapBasedFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/util/collection/BitCaskDiskMap.java
  hudi-common/src/main/java/org/apache/hudi/common/util/collection/DiskMap.java
  hudi-common/src/main/java/org/apache/hudi/common/util/collection/ExternalSpillableMap.java
  hudi-common/src/main/java/org/apache/hudi/common/util/collection/LazyFileIterable.java
  hudi-common/src/main/java/org/apache/hudi/common/util/collection/RocksDBDAO.java
  hudi-common/src/main/java/org/apache/hudi/common/util/collection/RocksDbDiskMap.java
  hudi-common/src/test/java/org/apache/hudi/common/serialization/TestDefaultSerializer.java
  hudi-common/src/test/java/org/apache/hudi/common/serialization/TestHoodieFileGroupSerializer.java
  hudi-common/src/test/java/org/apache/hudi/common/table/view/TestHoodieFileGroupSizeEstimator.java
  hudi-common/src/test/java/org/apache/hudi/common/util/collection/TestBitCaskDiskMap.java
  hudi-common/src/test/java/org/apache/hudi/common/util/collection/TestExternalSpillableMap.java
  hudi-common/src/test/java/org/apache/hudi/common/util/collection/TestRocksDbBasedMap.java
  hudi-common/src/test/java/org/apache/hudi/common/util/collection/TestRocksDbDiskMap.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/FormatUtils.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/compact/TestCustomSerDe.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/realtime/HoodieMergeOnReadSnapshotReader.java
Due: hudicommon, hudihadoopmr

[HUDI-8035] Fetching commit metadata from timeline fails during upgrade
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieInstant.java
Due: hudicommon

Add test
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/timeline/TestHoodieActiveTimeline.java
Due: none

Fix checkstyle
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieInstant.java
Due: hudicommon

[HUDI-8033] Claiming RFC-81 for Log Compaction with Merge Sort (#11703)
  rfc/README.md
Due: none

[HUDI-8032] Fix MockStateInitializationContext#getKeyedStateStore to use non-KeyedStateStore
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/BucketStreamWriteFunctionWrapper.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/ConsistentBucketStreamWriteFunctionWrapper.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/InsertFunctionWrapper.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/MockKeyedStateStore.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/MockOperatorStateStore.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/MockStateInitializationContext.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/MockStreamingRuntimeContext.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/StreamWriteFunctionWrapper.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/keyedstate/MockKeyContext.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/keyedstate/MockKeyedListState.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/keyedstate/MockKeyedMapState.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/utils/keyedstate/MockKeyedValueState.java
Due: none

Changes from Danny
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieInstant.java
Due: hudicommon

[HUDI-8035] Fetching commit metadata from timeline fails during upgrade (#11711)
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieInstant.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/timeline/TestHoodieActiveTimeline.java
Due: hudicommon

[HUDI-7948] RFC-80: Support column families for wide tables
  rfc/rfc-80/append-handle.png
  rfc/rfc-80/bucket.png
  rfc/rfc-80/family-compaction.png
  rfc/rfc-80/file-group.png
  rfc/rfc-80/grand-compaction.png
  rfc/rfc-80/process-read.png
  rfc/rfc-80/process-write.png
  rfc/rfc-80/rfc-80.md
  rfc/rfc-80/row-reader.png
  rfc/rfc-80/table.png
Due: none

Added rli issue fix guidance
  website/releases/release-0.15.0.md
  website/versioned_docs/version-0.14.0/troubleshooting.md
  website/versioned_docs/version-0.14.1/troubleshooting.md
  website/versioned_docs/version-0.15.0/troubleshooting.md
Due: none

Add downgrade support
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/SevenToSixDowngradeHandler.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSixToEightUpgrade.scala
Due: none

Fix checkstyle
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSixToEightUpgrade.scala
Due: none

Add writer support
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/SixToSevenUpgradeHandler.java
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/util/SparkKeyGenUtils.scala
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/util/TableConfigUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/HoodieTestUtils.java
  hudi-kafka-connect/src/main/java/org/apache/hudi/connect/utils/KafkaConnectUtils.java
  hudi-kafka-connect/src/main/java/org/apache/hudi/connect/writers/KafkaConnectTransactionServices.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/BootstrapExecutorUtils.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSixToEightUpgrade.scala
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/BootstrapExecutor.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/StreamSync.java
Due: hudicommon, hudiutilities

Rebase on top of master
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/EightToSevenDowngradeHandler.java
  hudi-common/src/main/java/org/apache/hudi/common/config/HoodieConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableVersion.java
  hudi-common/src/main/java/org/apache/hudi/keygen/BaseKeyGenerator.java
  hudi-gcp/src/main/java/org/apache/hudi/gcp/bigquery/BigQuerySyncConfig.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSevenToEightUpgrade.scala
Due: hudicommon

Address review comments
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/util/SparkKeyGenUtils.scala
  hudi-common/src/main/java/org/apache/hudi/common/util/HoodieTableConfigUtils.java
  hudi-kafka-connect/src/main/java/org/apache/hudi/connect/utils/KafkaConnectUtils.java
  hudi-kafka-connect/src/main/java/org/apache/hudi/connect/writers/KafkaConnectTransactionServices.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/cli/BootstrapExecutorUtils.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSevenToEightUpgrade.scala
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/BootstrapExecutor.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/streamer/StreamSync.java
Due: hudicommon, hudiutilities

Address review comments
  hudi-aws/src/main/java/org/apache/hudi/config/GlueCatalogSyncClientConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/EightToSevenDowngradeHandler.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/SevenToEightUpgradeHandler.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/SevenToSixDowngradeHandler.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/upgrade/SixToSevenUpgradeHandler.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/util/HoodieTableConfigUtils.java
  hudi-gcp/src/main/java/org/apache/hudi/gcp/bigquery/BigQuerySyncConfig.java
  hudi-hadoop-common/src/test/java/org/apache/hudi/common/table/TestHoodieTableConfig.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieWriterUtils.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSevenToEightUpgrade.scala
  hudi-sync/hudi-sync-common/src/main/java/org/apache/hudi/sync/common/HoodieSyncConfig.java
Due: hudicommon

fix pruning issue for mor snapshot queries non-fg reader
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileIndex.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/analysis/HoodiePruneFileSourcePartitions.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestMORDataSource.scala
Due: none

[ENG-12108][INTERNAL] allow filter query of timestamp partition column for mor rt if timestamp keygen is used to change the pattern (#845)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileIndex.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/analysis/HoodiePruneFileSourcePartitions.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestMORDataSource.scala
Due: none

Added rli issue fix guidance (#11716)
  website/releases/release-0.15.0.md
  website/versioned_docs/version-0.14.0/troubleshooting.md
  website/versioned_docs/version-0.14.1/troubleshooting.md
  website/versioned_docs/version-0.15.0/troubleshooting.md
Due: none

Update TestUpgradeDowngradeCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestUpgradeDowngradeCommand.java
Due: none

[HUDI-6207] Spark bucket index query pruning (#10191)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieIndexConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/fs/FSUtils.java
  hudi-common/src/main/java/org/apache/hudi/exception/InvalidHoodieFileNameException.java
  hudi-kafka-connect/pom.xml
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/BucketIndexSupport.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileIndex.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestBucketIndexSupport.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/dml/TestDataSkippingQuery.scala
Due: hudicommon

[AUDIT-891] : Changelog for release-v1.26.0 (#851)
  CHANGELOG
Due: none

fix master branch compilation error (#852)
  hudi-kafka-connect/src/main/java/org/apache/hudi/connect/writers/BufferedConnectWriter.java
Due: none

[HUDI-7948] RFC-80: Support column families for wide tables (#11559)
  rfc/rfc-80/append-handle.png
  rfc/rfc-80/bucket.png
  rfc/rfc-80/family-compaction.png
  rfc/rfc-80/file-group.png
  rfc/rfc-80/grand-compaction.png
  rfc/rfc-80/process-read.png
  rfc/rfc-80/process-write.png
  rfc/rfc-80/rfc-80.md
  rfc/rfc-80/row-reader.png
  rfc/rfc-80/table.png
Due: none

[HUDI-6563] support projection push down for lookup join and fix lookup join test
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSource.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
Due: none

fix SimpleConcurrentFileWritesConflictResolutionStrategy get clustering instant contains insert overwrite and cause StringIndexOutOfBoundsException
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/SimpleConcurrentFileWritesConflictResolutionStrategy.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/client/transaction/TestConflictResolutionStrategyUtil.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/client/transaction/TestSimpleConcurrentFileWritesConflictResolutionStrategy.java
Due: none

[AUDIT-891] : Changelog for release-v1.26.1 (#853)
  CHANGELOG
Due: none

Fix build error
  hudi-gcp/src/main/java/org/apache/hudi/gcp/bigquery/HoodieBigQuerySyncClient.java
Due: none

Update HoodieBigQuerySyncClient.java
  hudi-gcp/src/main/java/org/apache/hudi/gcp/bigquery/HoodieBigQuerySyncClient.java
Due: none

[HUDI-8040] Fix SimpleConcurrentFileWritesConflictResolutionStrategy get clustering instant contains insert overwrite (#11691)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/SimpleConcurrentFileWritesConflictResolutionStrategy.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/client/transaction/TestConflictResolutionStrategyUtil.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/client/transaction/TestSimpleConcurrentFileWritesConflictResolutionStrategy.java
Due: none

[HUDI-8041] Support projection push down for lookup join (#11722)
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSource.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
Due: none

[HUDI-8024] Test secondary index updates and rollback
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/SecondaryIndexTestBase.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSecondaryIndexPruning.scala
Due: none

[HUDI-7989][HUDI-7990] Fix secondary index updates
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/HoodieIndexUtils.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/metadata/FlinkHoodieBackedTableMetadataWriter.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/metadata/JavaHoodieBackedTableMetadataWriter.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/metadata/SparkHoodieBackedTableMetadataWriter.java
  hudi-common/src/main/java/org/apache/hudi/metadata/BaseTableMetadata.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadataUtil.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestSecondaryIndexPruning.scala
Due: hudicommon
