Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

[HUDI-3513] Make sure Column Stats does not fail in case it fails to load previous Index Table state (#5015)
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/index/columnstats/ColumnStatsIndexHelper.java
Due: none

[HUDI-3575] Use HoodieTestDataGenerator#TRIP_SCHEMA as example schema in TestSchemaPostProcessor (#5019)
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestSchemaPostProcessor.java
Due: none

[HUDI-3613] Adding/fixing yamls for metadata (#5029)
  docker/demo/config/test-suite/cow-spark-long-running.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions-metadata.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions.yaml
  docker/demo/config/test-suite/deltastreamer-medium-full-dataset-validation.yaml
Due: none

[HUDI-3600] Tweak the default cleaning strategy to be more streaming friendly for flink (#5010)
  hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink/src/test/java/org/apache/hudi/table/TestHoodieTableFactory.java
Due: none

[HUDI-3595] Fixing NULL schema provider for empty batch (#5002)
  hudi-common/src/main/java/org/apache/hudi/common/util/CommitUtils.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestParquetDFSSourceEmptyBatch.java
Due: hudicommon

[HUDI-3522] Introduce DropColumnSchemaPostProcessor to support drop columns from schema (#4972)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/DropColumnSchemaPostProcessor.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestSchemaPostProcessor.java
Due: hudiutilities

fix NPE when run schdule using spark-sql if the commits time < hoodie.compact.inline.max.delta.commits (#4976)
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/CompactionHoodiePathCommand.scala
Due: none

[HUDI-3569] Introduce ChainedJsonKafkaSourePostProcessor to support setting multi processors at once (#4969)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/UtilHelpers.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/processor/ChainedJsonKafkaSourcePostProcessor.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestJsonKafkaSourcePostProcessor.java
Due: hudiutilities

[HUDI-3592] Fix NPE of DefaultHoodieRecordPayload if Property is empty (#4999)
  hudi-common/src/main/java/org/apache/hudi/common/model/DefaultHoodieRecordPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestDefaultHoodieRecordPayload.java
Due: hudicommon

[HUDI-2999] [RFC-42] RFC for consistent hashing index (#4326)
  rfc/rfc-42/basic_bucket_hashing.png
  rfc/rfc-42/bucket_resizing.png
  rfc/rfc-42/bucket_resizing_virtual_log_file.png
  rfc/rfc-42/consistent_hashing.png
  rfc/rfc-42/rfc-42.md
Due: none

[HUDI-3566] Add thread factory in BoundedInMemoryExecutor (#4926)
  hudi-common/src/main/java/org/apache/hudi/common/util/CustomizedThreadFactory.java
  hudi-common/src/main/java/org/apache/hudi/common/util/queue/BoundedInMemoryExecutor.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestCustomizedThreadFactory.java
Due: hudicommon

[HUDI-3581] Reorganize some clazz for hudi flink (#4983)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/async/HoodieAsyncService.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieWriteClient.java
  hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteOperatorCoordinator.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/CopyOnWriteInputFormat.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/ParquetSplitReaderUtil.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/vector/ParquetDecimalVector.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/vector/reader/AbstractColumnReader.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/vector/reader/ArrayColumnReader.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/vector/reader/FixedLenBytesColumnReader.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/vector/reader/Int64TimestampColumnReader.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/vector/reader/ParquetColumnarRowSplitReader.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/cow/vector/reader/RunLengthDecoder.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadInputFormat.java
  hudi-flink/src/test/java/org/apache/hudi/sink/ITTestDataStreamWrite.java
  hudi-flink/src/test/java/org/apache/hudi/table/ITTestHoodieDataSource.java
Due: none

[HUDI-3602][DOCS] Update docker README to build multi-arch images using buildx (#5011)
  docker/README.md
Due: none

[HUDI-3586] Add Trino Queries in integration tests (#4988)
  docker/demo/trino-batch1.commands
  docker/demo/trino-batch2-after-compaction.commands
  docker/demo/trino-table-check.commands
  hudi-integ-test/src/test/java/org/apache/hudi/integ/ITTestBase.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ/ITTestHoodieDemo.java
Due: none

[HUDI-3583] Fix MarkerBasedRollbackStrategy NoSuchElementException (#4984)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/rollback/MarkerBasedRollbackStrategy.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestMarkerBasedRollbackStrategy.java
Due: none

[Hudi-3376] Add an option to skip under deletion files for HoodieMetadataTableValidator (#4994)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieMetadataTableValidator.java
Due: hudiutilities

[MINOR] HoodieFileScanRDD could print null path (#5056)
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileScanRDD.scala
Due: none

[HUDI-3633] Allow non-string values to be set in TypedProperties (#5045)
  hudi-common/src/main/java/org/apache/hudi/common/config/TypedProperties.java
  hudi-common/src/test/java/org/apache/hudi/common/properties/TestTypedProperties.java
Due: hudicommon

[HUDI-3619] Fix HoodieOperation fromValue using wrong constant value (#5033)
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieOperation.java
Due: hudicommon

[HUDI-3606] Add `org.objenesis:objenesis` to hudi-timeline-server-bundle pom (#5017)
  packaging/hudi-timeline-server-bundle/pom.xml
Due: none

[HUDI-3620] Adding spark3.2.0 profile (#5038)
  pom.xml
Due: none

[HUDI-3645] Fix NPE caused by multiple threads accessing non-thread-safe HashMap (#5028)
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HoodieROTablePathFilter.java
Due: hudihadoopmr

[HUDI-3404] Automatically adjust write configs based on metadata table and write concurrency mode (#4975)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/config/TestHoodieWriteConfig.java
Due: none

[HUDI-3656] Adding medium sized dataset for clustering and minor fixes to integ tests (#5063)
  docker/demo/config/test-suite/deltastreamer-medium-clustering.yaml
  docker/demo/config/test-suite/spark-medium-clustering.yaml
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/dag/nodes/ValidateAsyncOperations.java
Due: hudiintegtest

[HUDI-3607] Support backend switch in HoodieFlinkStreamer (#5032)
  hudi-flink/pom.xml
  hudi-flink/src/main/java/org/apache/hudi/streamer/FlinkStreamerConfig.java
  hudi-flink/src/main/java/org/apache/hudi/streamer/HoodieFlinkStreamer.java
  hudi-flink/src/main/java/org/apache/hudi/util/FlinkStateBackendConverter.java
Due: none

[HUDI-3659] Reducing the validation frequency with integ tests (#5067)
  docker/demo/config/test-suite/cow-spark-long-running.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions-hive.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions-metadata.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions.yaml
  docker/demo/config/test-suite/deltastreamer-medium-full-dataset-validation.yaml
  docker/demo/config/test-suite/detlastreamer-long-running-example.yaml
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/configuration/DeltaConfig.java
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/dag/nodes/BaseValidateDatasetNode.java
Due: hudiintegtest

[HUDI-3598] Row Data to Hoodie Record Operator parallelism needs to always be consistent with input operator (#5049)
  hudi-flink/src/main/java/org/apache/hudi/sink/utils/Pipelines.java
Due: none

[HUDI-3547] Introduce MaxwellSourcePostProcessor to extract data from Maxwell json string (#4987)
  hudi-common/src/main/java/org/apache/hudi/common/util/DateTimeUtils.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/processor/maxwell/MaxwellJsonKafkaSourcePostProcessor.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/processor/maxwell/PreCombineFieldType.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestJsonKafkaSourcePostProcessor.java
Due: hudicommon, hudiutilities

[HUDI-3457] Refactored Spark DataSource Relations to avoid code duplication (#4877)
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/HoodieConversionUtils.scala
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/HoodieSparkUtils.scala
  hudi-common/src/main/java/org/apache/hudi/BaseHoodieTableFileIndex.java
  hudi-common/src/main/java/org/apache/hudi/common/table/TableSchemaResolver.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/utils/HoodieRealtimeInputFormatUtils.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/BaseFileOnlyRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/BaseFileOnlyViewRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DefaultSource.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieBaseRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieBootstrapRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieDataSourceHelper.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileIndex.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileScanRDD.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieMergeOnReadRDD.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/MergeOnReadIncrementalRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/MergeOnReadSnapshotRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/SparkHoodieTableFileIndex.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/HoodieHadoopFSUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/execution/datasources/HoodieInMemoryFileIndex.scala
  hudi-spark-datasource/hudi-spark-common/src/test/scala/org/apache/spark/execution/datasources/TestHoodieInMemoryFileIndex.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestHoodieSparkUtils.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestParquetColumnProjection.scala
Due: hudicommon, hudihadoopmr

[HUDI-3588] Remove hudi-common and hudi-hadoop-mr jars in Presto Docker image (#4997)
  docker/compose/docker-compose_hadoop284_hive233_spark244.yml
  docker/hoodie/hadoop/pom.xml
  docker/hoodie/hadoop/prestobase/Dockerfile
Due: none

[HUDI-3514] Rebase Data Skipping flow to rely on MT Column Stats index (#4948)
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/index/columnstats/ColumnStatsIndexHelper.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieMergeOnReadTestUtils.java
  hudi-common/src/main/avro/HoodieMetadata.avsc
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-common/src/main/java/org/apache/hudi/common/table/TableSchemaResolver.java
  hudi-common/src/main/java/org/apache/hudi/common/util/TablePathUtils.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataPayload.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadata.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadataUtil.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestTablePathUtils.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HoodieCopyOnWriteTableInputFormat.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DefaultSource.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieDatasetUtils.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieFileIndex.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/SparkHoodieTableFileIndex.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/DataSkippingUtils.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestDataSkippingUtils.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestHoodieFileIndex.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestLayoutOptimization.scala
Due: hudicommon, hudihadoopmr

[HUDI-3494] Consider triggering condition of MOR compaction during archival (#4974)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/HoodieTimelineArchiver.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/compact/ScheduleCompactionActionExecutor.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/TestHoodieTimelineArchiver.java
  hudi-common/src/main/java/org/apache/hudi/common/util/CompactionUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestCompactionUtils.java
Due: hudicommon

[HUDI-3663] Fixing Column Stats index to properly handle first Data Table commit (#5070)
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieIndex.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/util/Option.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadataUtil.java
Due: hudicommon

[MINOR] Remove flaky assert in TestInLineFileSystem (#5069)
  hudi-common/src/test/java/org/apache/hudi/common/fs/inline/TestInLineFileSystem.java
Due: none

[HUDI-3589] flink sync hive metadata supports table properties and serde properties (#4995)
  hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink/src/main/java/org/apache/hudi/sink/utils/HiveSyncContext.java
Due: none

[HUDI-3623] Removing hive sync node from non hive yamls (#5040)
  docker/demo/config/test-suite/cow-spark-long-running.yaml
  docker/demo/config/test-suite/cow-spark-simple.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions-metadata.yaml
  docker/demo/config/test-suite/deltastreamer-long-running-multi-partitions.yaml
  docker/demo/config/test-suite/deltastreamer-medium-full-dataset-validation.yaml
  docker/demo/config/test-suite/detlastreamer-long-running-example.yaml
  docker/demo/config/test-suite/insert-overwrite-table.yaml
  docker/demo/config/test-suite/insert-overwrite.yaml
  docker/demo/config/test-suite/simple-clustering.yaml
  docker/demo/config/test-suite/simple-deltastreamer.yaml
  docker/demo/config/test-suite/spark-clustering.yaml
Due: none

[HUDI-3689] Fix glob path and hive sync in deltastreamer tests (#5117)
  hudi-hadoop-mr/src/test/java/org/apache/hudi/hadoop/realtime/TestHoodieRealtimeRecordReader.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/HoodieDeltaStreamerTestBase.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamerWithMultiWriter.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieMultiTableDeltaStreamer.java
Due: none

Fixing non partitioned all files record in MDT (#5108)
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataPayload.java
Due: hudicommon

[HUDI-3559] Flink bucket index with COW table throws NoSuchElementException
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/FlinkWriteHelper.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/BucketStreamWriteFunction.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/ITTestDataStreamWrite.java
Due: none
