Repository apache/hudi: changes, and which Codecov flags are due for each by the changed paths.
All: hudicli, hudiclient, hudicommon, hudiexamples, hudihadoopmr, hudihivesync, hudiintegtest, hudispark, huditimelineservice, hudiutilities

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For more configuration details:
# https://docs.codecov.io/docs/codecov-yaml

# Check if this file is valid by running in bash:
# curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: # settings affecting project coverage
      enabled: no

    # do not run coverage on patch nor changes
    patch: no
    changes: no

# Ignoring Paths
# --------------
# which folders/files to ignore
ignore:
  - "hudi-common/src/main/java/org/apache/hudi/avro/model/*"
  - "hudi-common/src/main/java/org/apache/hudi/avro/MercifulJsonConverter.java"
  - "hudi-common/src/main/java/org/apache/hudi/common/HoodieJsonPayload"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCleaner.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactionAdminTool.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotCopier.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieWithTimelineServer.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/UpgradePayloadFromUberToApache.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/perf/TimelineServerPerf.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java"
  - "hudi-utilities/src/main/java/org/apache/hudi/utilities/adhoc/UpgradePayloadFromUberToApache.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/JmxReporterServer.java"
  - "hudi-client/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/HoodieInputFormat.java"
  - "hudi-hadoop-mr/src/main/java/com/uber/hoodie/hadoop/realtime/HoodieRealtimeInputFormat.java"

comment: false

flags:
  hudicli:
    paths:
      - hudi-cli/src/main/
  hudiclient:
    paths:
      - hudi-client/src/main/
  hudicommon:
    paths:
      - hudi-common/src/main/
  hudiexamples:
    paths:
      - hudi-examples/src/main/
  hudihadoopmr:
    paths:
      - hudi-hadoop-mr/src/main/
  hudihivesync:
    paths:
      - hudi-hive-sync/src/main/
  hudiintegtest:
    paths:
      - hudi-integ-test/src/main/
  hudispark:
    paths:
      - hudi-spark/src/main/
  huditimelineservice:
    paths:
      - hudi-timeline-service/src/main/
  hudiutilities:
    paths:
      - hudi-utilities/src/main/

[HUDI-1961] Add a debezium json integration test case for flink (#3030)
  hudi-flink/pom.xml
  hudi-flink/src/main/java/org/apache/hudi/table/format/FilePathUtils.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadInputFormat.java
  hudi-flink/src/test/java/org/apache/hudi/table/HoodieDataSourceITCase.java
  hudi-flink/src/test/resources/debezium_json.data
Due: none

[HUDI-1954] only reset bucket when flush bucket success (#3029)
  hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteFunction.java
Due: none

[HUDI-1281] Add deltacommit to ActionType (#3018)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/utils/MetadataConversionUtils.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/utils/TestMetadataConversionUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/model/ActionType.java
Due: hudicommon

[MINOR] Resolve build issue arising from inaccessible pentaho jar (#3034)
  hudi-sync/hudi-dla-sync/pom.xml
  packaging/hudi-flink-bundle/pom.xml
  packaging/hudi-integ-test-bundle/pom.xml
  pom.xml
Due: none

[HUDI-1942] Add Default value for HIVE_AUTO_CREATE_DATABASE_OPT_KEY in HoodieSparkSqlWriter (#3036)
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
Due: none

[HUDI-1979] Optimize logic to improve code readability (#3037)
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HiveMetastoreBasedLockProvider.java
Due: none

[HUDI-1967] Fix the NPE for MOR Hive rt table query (#3032)
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/utils/HoodieInputFormatUtils.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/utils/HoodieRealtimeInputFormatUtils.java
Due: hudihadoopmr

[HUDI-1931] BucketAssignFunction use ValueState instead of MapState (#3026)
  hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/BucketAssignFunction.java
  hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/BucketAssignOperator.java
  hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSink.java
  hudi-flink/src/test/java/org/apache/hudi/sink/StreamWriteITCase.java
  hudi-flink/src/test/java/org/apache/hudi/sink/utils/CompactFunctionWrapper.java
  hudi-flink/src/test/java/org/apache/hudi/sink/utils/MockOperatorStateStore.java
  hudi-flink/src/test/java/org/apache/hudi/sink/utils/MockValueState.java
  hudi-flink/src/test/java/org/apache/hudi/sink/utils/StreamWriteFunctionWrapper.java
Due: none

[HUDI-1909] Skip Commits with empty files (#3045)
  hudi-flink/src/main/java/org/apache/hudi/source/StreamReadMonitoringFunction.java
Due: none

[HUDI-1914] Add fetching latest schema to table command in hudi-cli (#2964)
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/TableCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestTableCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/testutils/HoodieTestCommitMetadataGenerator.java
Due: hudicli

[HUDI-1950] Move TestHiveMetastoreBasedLockProvider to functional (#3043)
  hudi-sync/hudi-hive-sync/pom.xml
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/TestHiveSyncTool.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/functional/HiveSyncFunctionalTestSuite.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/functional/TestHiveMetastoreBasedLockProvider.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/testutils/HiveSyncFunctionalTestHarness.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/testutils/HiveTestService.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/testutils/HiveTestUtil.java
Due: none

[HUDI-1148] Remove Hadoop Conf Logs (#3040)
  hudi-common/src/main/java/org/apache/hudi/common/fs/FSUtils.java
Due: hudicommon

add BootstrapFunction to support index bootstrap (#3024)
  hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/BootstrapFunction.java
  hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/BootstrapRecord.java
  hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/aggregate/BootstrapAccumulator.java
  hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/aggregate/BootstrapAggFunc.java
  hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/BucketAssignFunction.java
  hudi-flink/src/main/java/org/apache/hudi/streamer/HoodieFlinkStreamer.java
  hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSink.java
  hudi-flink/src/test/java/org/apache/hudi/sink/StreamWriteITCase.java
  hudi-flink/src/test/java/org/apache/hudi/sink/TestWriteCopyOnWrite.java
  hudi-flink/src/test/java/org/apache/hudi/sink/utils/StreamWriteFunctionWrapper.java
Due: none

[HUDI-1980] Optimize the code to prevent other exceptions from causing resources not to be closed (#3038)
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HoodieHiveClient.java
Due: none

[HUDI-1929] Support configure KeyGenerator by type (#2993)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/constant/KeyGeneratorType.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/factory/HoodieAvroKeyGeneratorFactory.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/factory/TestCreateAvroKeyGeneratorByTypeWithFactory.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/factory/TestHoodieAvroKeyGeneratorFactory.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/keygen/factory/HoodieSparkKeyGeneratorFactory.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/keygen/TestCustomKeyGenerator.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/keygen/factory/TestCreateKeyGeneratorByTypeWithFactory.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/keygen/factory/TestHoodieSparkKeyGeneratorFactory.java
  hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink/src/main/java/org/apache/hudi/sink/transform/RowDataToHoodieFunction.java
  hudi-flink/src/main/java/org/apache/hudi/streamer/FlinkStreamerConfig.java
  hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-integ-test/src/main/java/org/apache/hudi/integ/testsuite/HoodieTestSuiteJob.java
  hudi-spark-datasource/hudi-spark-common/src/main/java/org/apache/hudi/DataSourceUtils.java
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/bootstrap/SparkParquetBootstrapDataProvider.java
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/hudi/HoodieWriterUtils.scala
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/DeltaSync.java
Due: hudiintegtest, hudiutilities

[HUDI-1987] Fix non partition table hive meta sync for flink writer (#3049)
  hudi-flink/src/main/java/org/apache/hudi/sink/utils/HiveSyncContext.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/FilePathUtils.java
  hudi-flink/src/main/java/org/apache/hudi/table/format/mor/MergeOnReadInputFormat.java
Due: none

[HUDI-1986] Skip creating marker files for flink merge handle (#3047)
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/FlinkMergeHandle.java
Due: none

[HUDI-1892] Fix NPE when avro field value is null (#3051)
  hudi-common/src/main/java/org/apache/hudi/common/model/OverwriteWithLatestAvroPayload.java
Due: hudicommon

[HUDI-1992] Release the new records map for merge handle #close (#3056)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
Due: none

delete duplicate bootstrap function (#3052)
  hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/BootstrapFunction.java
  hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/IndexRecord.java
  hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/aggregate/BootstrapAccumulator.java
  hudi-flink/src/main/java/org/apache/hudi/sink/bootstrap/aggregate/BootstrapAggFunction.java
  hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/BucketAssignFunction.java
  hudi-flink/src/main/java/org/apache/hudi/table/HoodieTableSink.java
  hudi-flink/src/test/java/org/apache/hudi/sink/utils/StreamWriteFunctionWrapper.java
Due: none

[MINOR] Remove boxing (#3062)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/UtilHelpers.java
Due: hudiutilities

[MINOR] Add Baidu BOS storage support for hudi (#3061)
  hudi-common/src/main/java/org/apache/hudi/common/fs/StorageSchemes.java
  hudi-common/src/test/java/org/apache/hudi/common/fs/TestStorageSchemes.java
Due: hudicommon

[HUDI-1994] Release the new records iterator for append handle #close (#3058)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieAppendHandle.java
  hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteFunction.java
Due: none

[HUDI-1790] Added SqlSource to fetch data from any partitions for backfill use case (#2896)
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestSqlSource.java
Due: none

[HUDI-2002] Modify HiveIncrementalPuller log level to ERROR (#3070)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HiveIncrementalPuller.java
Due: none

[MINOR] Add Tencent Cloud HDFS storage support for hudi (#3064)
  hudi-common/src/main/java/org/apache/hudi/common/fs/StorageSchemes.java
  hudi-common/src/test/java/org/apache/hudi/common/fs/TestStorageSchemes.java
Due: hudicommon

[HUDI-1984] Support independent flink hudi compaction function (#3046)
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/compact/FlinkScheduleCompactionActionExecutor.java
  hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink/src/main/java/org/apache/hudi/sink/CleanFunction.java
  hudi-flink/src/main/java/org/apache/hudi/sink/compact/CompactionCommitSink.java
  hudi-flink/src/main/java/org/apache/hudi/sink/compact/CompactionPlanSourceFunction.java
  hudi-flink/src/main/java/org/apache/hudi/sink/compact/FlinkCompactionConfig.java
  hudi-flink/src/main/java/org/apache/hudi/sink/compact/HoodieFlinkCompactor.java
  hudi-flink/src/main/java/org/apache/hudi/sink/compact/NonKeyedCompactFunction.java
  hudi-flink/src/main/java/org/apache/hudi/streamer/FlinkStreamerConfig.java
  hudi-flink/src/main/java/org/apache/hudi/streamer/HoodieFlinkStreamer.java
  hudi-flink/src/main/java/org/apache/hudi/util/CompactionUtil.java
  hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
  hudi-flink/src/test/java/org/apache/hudi/sink/StreamWriteITCase.java
Due: none

[HUDI-2000] Release file writer for merge handle #close (#3068)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
Due: none

[HUDI-1991] Fixing drop dups exception in bulk insert row writer path (#3055)
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/HoodieSparkSqlWriterSuite.scala
Due: none

[MINOR] Fixed the log which should only be printed when the Metadata Table is disabled. (#3080)
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
Due: hudicommon

[HUDI-1950] Fix Azure CI failure in TestParquetUtils (#2984)
  README.md
  azure-pipelines.yml
  hudi-common/src/test/java/org/apache/hudi/common/util/TestParquetUtils.java
  pom.xml
Due: none

[HUDI-2004] Move CheckpointUtils test cases to independant class (#3072)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/KafkaOffsetGen.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestKafkaSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/helpers/TestCheckpointUtils.java
Due: hudiutilities

[HUDI-1999] Refresh the base file view cache for WriteProfile (#3067)
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/io/FlinkMergeAndReplaceHandle.java
  hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteOperatorCoordinator.java
  hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/profile/DeltaWriteProfile.java
  hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/profile/WriteProfile.java
  hudi-flink/src/main/java/org/apache/hudi/sink/partitioner/profile/WriteProfiles.java
  hudi-flink/src/main/java/org/apache/hudi/source/StreamReadMonitoringFunction.java
  hudi-flink/src/test/java/org/apache/hudi/sink/partitioner/TestBucketAssigner.java
Due: none

[HUDI-764] [HUDI-765] ORC reader writer Implementation (#2999)
  LICENSE
  NOTICE
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieStorageConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/storage/HoodieFileWriter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/storage/HoodieFileWriterFactory.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/storage/HoodieHFileWriter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/storage/HoodieOrcConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/storage/HoodieOrcWriter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/storage/HoodieParquetWriter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/HoodieTable.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/io/storage/TestHoodieOrcReaderWriter.java
  hudi-client/hudi-client-common/src/test/resources/exampleSchemaWithUDT.avsc
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/io/storage/TestHoodieFileWriterFactory.java
  hudi-common/pom.xml
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieFileFormat.java
  hudi-common/src/main/java/org/apache/hudi/common/util/AvroOrcUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/util/BaseFileUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/util/OrcReaderIterator.java
  hudi-common/src/main/java/org/apache/hudi/common/util/OrcUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/util/ParquetUtils.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieFileReaderFactory.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieOrcReader.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestAvroOrcUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestOrcReaderIterator.java
  hudi-common/src/test/java/org/apache/hudi/io/storage/TestHoodieFileReaderFactory.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/utils/HoodieInputFormatUtils.java
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/hudi/DefaultSource.scala
  pom.xml
Due: hudicommon, hudihadoopmr

[MINOR] Rename broken codecov file (#3088)
  .codecov.yml.broken
Due: none

[HUDI-2014] Support flink hive sync in batch mode (#3081)
  hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteOperatorCoordinator.java
Due: none

[HUDI-2008] Avoid the raw type usage in some classes under hudi-utilities module (#3076)
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HDFSParquetImporter.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieClusteringJob.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieCompactor.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/UtilHelpers.java
Due: hudiutilities

[HUDI-2022] Release writer for append handle #close (#3087)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieAppendHandle.java
Due: none

Fix the filter condition is missing in the judgment condition of compaction instance (#3025)
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/compact/BaseScheduleCompactionActionExecutor.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/compact/TestHoodieCompactor.java
Due: none
